<%
if defined?(:style) && style == "dark"
    bgImage = "https://images.ctfassets.net/189dvqdsjh46/5iqNkj7WByG4KWsGIAYqmq/20f3eb14d274b744720ff2d32ea1a5a6/clouds_in_arc_building_dark.jpg"
else
    bgImage = "https://images.ctfassets.net/189dvqdsjh46/7yUgq2CbIsUwMcAam02mG0/522fb00e1543f53765f43e5eafd8b41a/clouds_-_victor-garcia-329401_edit.jpg"
end
%>
<section class="section-article container-image--center container-color--gray-light" data-interchange="[<%= bgImage %><%= image_featured_small %>, small], [<%= bgImage %><%= image_featured_medium %>, medium], [<%= bgImage %><%= image_featured_large %>, large]">
    <div class="row<% if defined?(align) && align == "right" %> align-right<% end %>">
        <div class="columns small-12 medium-8 large-6">
            <div class="callout callout--large drop text-center-for-small">
                <h2 class="headline-3">Public, Private, and Hybrid Cloud Computing in Healthcare</h2>
                <p>In this issue, we explore the theme of insight and information about the public and private cloud options available to healthcare teams.</p>
                <p class=""><a href="/innovation/public-vs-private-cloud-computing-within-healthcare-summer-2017" title="Get your free industry report" class="button button--primary">Download our latest industry report <i class="fa fa-angle-right"></i></a></p>
            </div>
        </div>
    </div>
</section>
