<%
if defined?(style) && style == "dark"
    grayValue = "3"
else
    grayValue = "11"
end
%>
<section class="section-article--med container-image--center container-gray-<%= grayValue %>" <% if defined?(bgImage) ? bgImage : '' %> data-interchange="[<%= bgImage %><%= image_featured_medium %>, medium], [<%= bgImage %>?fit=thumb&w=2400&h=500&fm=jpg&q=70, large]"<% end %>>
    <div class="row align-center">
        <div class="columns small-12 medium-1 large-1 text-center">
            <%= inline_svg("icon-dollar-circle", class: "svg-color--white icon-size--large") %>
        </div>
        <div class="columns small-12 medium-9 large-6">
            <h2 class="headline-3">Total Cost of Ownership of Compliance in the Cloud</h2>
            <p class="lead">In this guide are tested formulas and directional advice from the compliance and cloud experts at Datica on how to measure and manage the total cost of ownership to achieve compliance in the cloud.</p>
            <%= partial "partials/snippets/button", :locals => { :label => "Get your free TCO Guide", :url => "/guide/total-cost-of-ownership-of-cloud-compliance", :icon => "icon-download", :icon_color => "white", :icon_align => "left", :button_classes => "button button--light", :item_id => "guide_tco" } %>
        </div>
    </div>
</section>
