<div xmlns="http://www.w3.org/1999/xhtml">
    <img class="card-item--image <%= item["class"] %>" src="<%= item["img"] %>" alt="<%= item["title"] %>" />
    <h3 class="card-item--title"><%= item["title"] %></h3>
    <p class="card-item--body"><%= item["content"] %></p>
</div>
