<div class="callout--article container-color--dark<% if defined?(classes) %> <%= classes %><% end %>">
    <a class="callout--article-link" href="/discover/<%= post["slug"] %>/" title="Discover <%= post["title"] %>">
        <div class="callout--article-content">
            <div class="subheader-small">Discover</div>
            <h3 class="headline-4" style="white-space: nowrap;"><%= post["title"] %><%= inline_svg("small/icon-arrow-forward", class: "callout--article-action icon-inline icon-right") %></h3>
            <% if post.has_key?("summary") %>
                <div class="callout--article-body">
                    <%#= Kramdown::Document.new(post["summary"]).to_html %>
                    <p class="no-margin"><%= post.summary %></p>
                </div>
            <% end %>
        </div>
        <% if post.has_key?("featured_image") %>
            <div class="lozad container-gray-7 img-multiply callout--article-image container-image--center" data-background-image="<%= post["featured_image"]["url"] %>?fit=scale&w=400&h=250&q=55"></div>
        <% end %>
    </a>
</div>
