<div class="callout--article container-color--dark<% if defined?(classes) %> <%= classes %><% end %>">
    <a class="callout--article-link" href="/discover/<%= post["slug"] %>" title="Discover <%= post["title"] %>">
        <div class="callout--article-content">
            <div class="subheader-small">Discover</div>
            <h3 class="headline-4"><%= post["title"] %> <i class="callout--article-action fa fa-arrow-circle-right"></i></h3>
            <% if post.has_key?("summary") %>
                <div class="callout--article-body">
                    <%#= Kramdown::Document.new(post["summary"]).to_html %>
                    <p class="no-margin"><%= post.summary %></p>
                </div>
            <% end %>
        </div>
        <% if post.has_key?("featured_image") %>
            <div class="callout--article-image container-image--center" data-interchange="[<%= post["featured_image"]["url"] %>?fit=scale&w=400&h=200&q=35, small], [<%= post["featured_image"]["url"] %>?fit=scale&w=600&h=300&q=55, medium]"></div>
        <% end %>
    </a>
</div>
