---
title: "Datica | White Papers"
summary: "Industry insight on compliance, HIPAA, and cloud computing for healthcare, with specific focus on future technology and business trends."
author: "Datica, Inc."
tags: "training, education, HIPAA, HL7, FHIR, interoperability, EHR, integration, resources"
date: "January 1, 2017"
share_image: "https://images.ctfassets.net/189dvqdsjh46/3Ll0a3gLi8wKG8A84mUokm/fabae03bd9e4da4e60173d4c2fe89a30/blog-share-default.png"
layout: "basic"
customCSS: "blog"
---
<%= partial "partials/head/header", :locals => { :style => "dark" } %>
<section class="section-article">
    <div class="row align-center">
        <div class="columns small-12 medium-7 text-center ">
            <div class="section--header-light-group">
                <h1 class="headline-1">White Papers</h1>
                <p class="lead">Industry insight on compliance, HIPAA, and cloud computing for healthcare, with specific focus on future technology and business trends.</p>
            </div>
        </div>
    </div>
</section>
<section class="section-article container-color--gray-light">
    <div class="row small-up-1 medium-up-2 large-up-3">
        <% sorted_entries = data.site.whitepapers.to_a.sort_by{ |id, entry| entry['title'] } %>
        <% sorted_entries.each do | id, entry | %>
            <div class="column">
                <div class="card drop text-center">
                    <div class="card-section">
                        <h2 class="headline-4"><a class="" title="Learn about this topic" href="/whitepapers/<%= entry["slug"] %>"><%= entry["title"] %></a></h2>
                        <div class="blog-date">
                            <p><%= entry['pub_date'].strftime('%B %-d, %Y') %></p>
                        </div>
                        <% if entry.has_key?("summary") %>
                            <p><%= entry["summary"] %></p>
                        <% else %>
                            <p><%= truncate_words(entry["post"], :length => 20) %></p>
                        <% end %>
                        <% if entry.has_key?("author") %>
                            <hr class="short">
                            <%= partial("partials/snippets/person-small", :locals => { :p => entry["author"] }) %>
                        <% end %>
                    </div>
                    <div class="card-divider">
                        <a class="button button--light" href="/whitepapers/<%= entry["slug"] %>">Read the whitepaper <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        <% end %>
        </div>
    </div>
</section>
