---
title: "Datica Events"
summary: "Tracking our participation in events throughout healthcare."
customCSS: "about-us"
author: "Datica, Inc."
tags: "events, conferences, presentations, training, education"
share_image: "https://images.ctfassets.net/189dvqdsjh46/2HzxmY3I4ESUU6ICM0ge0Y/f5ed3801dfe3328ec1ee09ea83434ba6/events-share-default.jpg"
layout: company
---
<%
today = DateTime.now
current_page.data.date = today.strftime('%B %-d, %Y')
# today = time.inspect
sorted_events = data.site.events.to_a.sort_by{ |id, event| event['date_start'] }.reverse!
%>

<section class="section-article container-color--gray-light">
    <div class="row align-center">
        <div class="columns small-12 large-7 text-center">
            <h1 class="headline-4 spaced-out">Datica Events</h1>
            <h2 class="headline-4 text-light group">Nationally recognized speakers on compliance and healthcare</h2>
        </div>
        <div class="columns small-12 large-10 group">
            <div class="logo-cloud text-center">
                <% data.views.events.speaking_list.each do |logo| %>
                    <img data-src="<%= logo["logo_file"] %>?w=300" alt="<%= logo["name"] %>" class="lozad logo-cloud--item logo-size--<%= logo['logoSize'] %>" />
                <% end %>
            </div>
        </div>
    </div>
    <div class="row align-center">
        <div class="columns small-12 large-10">
            <% sorted_events.take(1).each do |id, event| %>
                <% if today.strftime("%F") < event['date_start'].strftime("%F") %>
                    <h3 class="headline-3 text-center group">Upcoming Events</h3>
                <% end %>
            <% end %>
            <% sorted_events.reverse.each do |id, event| %>
                <% if today.strftime("%F") <= event['date_start'].strftime("%F") %>
                    <div class="callout callout--large drop group--2x">
                        <%= partial "partials/content/event", :locals => { :event => event } %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</section>
<section class="section-article">
    <div class="row align-center">
        <div class="columns small-12 large-8 xlarge-7">
            <h2 class="headline-3 group text-center">Past Events</h2>
            <div id="timeline" class="timeline--vertical">
                <div class="line" id="line"></div>
                <% sorted_events.each do |id, event| %>
                    <% if today.strftime("%F") > event['date_start'].strftime("%F") %>
                        <div class="block">
                            <div class="date">
                                <%= partial("partials/snippets/date-range", :locals => { :p => event }) %>
                            </div>
                            <span class="dot"></span>
                            <div class="content">
                                <% if event.has_key?("event_logo") %>
                                    <div style="display: inline-flex;">
                                        <img class="logo-size--medium lozad" style="margin-bottom: 0.4rem; height: 3rem;" data-src="<%= event["event_logo"]["url"] %>?w=300" alt="Event logo">
                                    </div>
                                <% end %>
                                <% if event.has_key?("title") %>
                                    <h4 class="headline-5">
                                        <a href="/events/<%= event["slug"]%>" title="event details">
                                            <%= event["title"]%>
                                        </a>
                                    </h4>
                                <% end %>
                                <ul class="menu simple group--sm">
                                    <% if event.has_key?("event_related_people") %>
                                        <% event["event_related_people"].each do |person| %>
                                            <li>
                                                <%= partial("partials/snippets/person-avatar", :locals => { :p => person, :size => "small" }) %>
                                            </li>
                                        <% end %>
                                    <% end %>
                                    <% if event.has_key?("event_tags") %>
                                        <% event["event_tags"].each do |tag| %>
                                            <li>
                                                <span class="label faded round<% if tag == "Sponsor" %> success<% else %> info<% end %>"><%= tag %></span>
                                            </li>
                                        <% end %>
                                    <% end %>
                                </ul>
                                <% if event.has_key?("summary") %>
                                    <div class="content-dynamic">
                                        <%= Kramdown::Document.new(event["summary"]).to_html %>
                                    </div>
                                <% end %>
                                <% if event.has_key?("event_image") %>
                                    <img class="thumbnail" src="<%= event['event_image']%>?w=600" width="350" alt="Conference Image">
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</section>
<% sorted_posts = data.site.blog.to_a.sort_by{ |id, post| post['pub_date'] }.reverse! %>
<section class="section-article container-color--gray-light">
    <div class="row align-center">
        <div class="columns small-12 large-10">
            <h2 class="headline-4 spaced-out group text-center">Recently on the blog</h2>
            <div class="row align-center small-up-1 medium-up-2">
                <% sorted_posts[0...3].each do | id, blog_entry | %>
                    <div class="column group">
                        <%= partial "partials/cards/featured-blog", :locals => { :post => blog_entry, :style => "light", :size => "small", :show_type => true } %>
                    </div>

                <% end %>
                <div class="column">
                <%= partial "blog/partials/blog-subscription", :locals => { :color => "white" } %>
                </div>
            </div>
        </div>
    </div>
</section>
