---
title: "Datica Press Releases"
summary: "Datica press releases and mentions in publications."
author: "Datica, Inc."
tags: "media, press releases, press, HIPAA, HL7, FHIR, interoperability, EHR, integration"
date: "January 1, 2017"
share_image: "https://images.ctfassets.net/189dvqdsjh46/3Ll0a3gLi8wKG8A84mUokm/fabae03bd9e4da4e60173d4c2fe89a30/blog-share-default.png"
header: "Media Resources"
subheader: "Press Releases"
layout: company
---

<section class="section-article">
    <div class="row align-center">
        <% sorted_pressReleases = data.site.pressReleases.to_a.sort_by{ |id, post| post['pub_date'] }.reverse! %>
            <div class="columns small-12 medium-8 large-6">
                <h4 class="headline-6 subheader--spaced-out">Press</h4>
                <h1 class="headline-2">Press Releases Archive</h1>
                <%= partial "partials/snippets/button", :locals => { :label => "Back to Press Page", :url => "/press/", :button_classes => "button hollow group--2x small", :icon => "icon-chevron-left", :icon_align => "left" } %>

                <% sorted_pressReleases.each do | id, post | %>
                    <div class="group--2x">
                        <h4 class="headline-4"><a class="" href="/press-release/<%= post['slug'] %>" title="Read release"><%= post["title"] %></a></h4>
                        <div class="blog-date"><%= post['pub_date'].strftime('%B %-d, %Y') %></div>
                        <%= Kramdown::Document.new(post["summary"]).to_html %>
                    </div>
                <% end %>
            </div>
    </div>
</section>
