---
title: "Datica Press and Media Resources"
summary: "Datica press releases, announcements, media coverage, and contact information"
author: "Datica, Inc."
tags: "media, press releases, press, HIPAA, HL7, FHIR, interoperability, EHR, integration"
date: "January 1, 2017"
share_image: "https://images.ctfassets.net/189dvqdsjh46/3Ll0a3gLi8wKG8A84mUokm/fabae03bd9e4da4e60173d4c2fe89a30/blog-share-default.png"
header: "Media Resources"
subheader: "Company Info, Press Releases, Coverage"
layout: company
feed_url: "https://datica.com/press/feed.xml"
---

<section class="section-article container-color--dark container-image--fixed" data-interchange="[https://images.ctfassets.net/189dvqdsjh46/3zZ0FS37NuWEagqyQuoowQ/700afbf86e486e4d251bf816448719e7/background-press.jpg, small]">
    <div class="row align-center">
        <div class="columns small-12 large-6 text-center">
            <h4 class="headline-6 subheader--spaced-out text--yellow-glow">Press</h4>
            <h1 class="headline-3">Media Resources: Company Info, Press Releases, Coverage</h1>
        </div>
    </div>
</section>
<section class="section-article container-color--gray-light" id="companyStory">
    <div class="row align-center">
        <div class="columns small-12 medium-3 large-3">
            <%= partial("partials/snippets/person", :locals => { :p => data.site.person["5kC0Y798vm6ag8sCq0O2CQ"], :classes => "block-width-medium", :use_headers => false }) %>
            <hr class="divider"/>
            <%= partial "partials/snippets/press-links" %>
        </div>
        <div class="columns small-12 medium-9 large-7">
            <h2 class="headline-2 group">Company Backstory</h2>
            <p>Datica was founded by <a href="/about/travis" title="More about Travis Good, MD">Travis Good, MD</a>, and Mohan Balachandran, two friends committed to bettering patient care. They were compelled to start Datica after seeing first hand the challenges healthcare faces re-inventing the wheel with compliance and integration.</p>
            <p>Before starting Datica, the two founders explored healthcare from all angles—practicing and consulting to enterprise health systems and entrepreneurship. Datica's vision is derived from their holistic view of healthcare.</p>
            <p>The foundation of the company is built from members previously at Rackspace, the NSA, Epic, NASA, Influence Health, Intel, and industries such as meteorology, telephony, and pharmaceuticals. The team is a strong mix of industry experts and entrepreneurial veterans.</p>
            <p>Datica is headquartered in Madison, WI, but is built to be a distributed team.</p>
        </div>
    </div>
</section>
<section class="section-article container-gray-11" id="pressReleases">
    <div class="row align-center">
        <div class="columns small-12 medium-8">
            <h2 class="headline-2 group text-center">Press Releases</h2>
        </div>
    </div>
    <div class="row row--card-grid small-up-1 medium-up-2 large-up-3 align-center">
        <% sorted_pressReleases = data.site.pressReleases.to_a.sort_by{ |id, post| post['pub_date'] }.reverse! %>
        <% sorted_pressReleases.take(6).each do | id, post | %>
            <div class="column">
                <div class="card drop-hover">
                    <div class="card-section">
                        <a href="/press-release/<%= post["slug"] %>/" title="Read press release">
                            <h3 class="headline-5"><%= post["title"] %></h3>
                        </a>
                            <p><span class="pub-date"><%= post['pub_date'].strftime('%B %-d, %Y') %></span></p>
                            <%= Kramdown::Document.new(post["summary"]).to_html %>

                    </div>
                    <div class="card-divider card-section--flush text-right">
                        <a href="/press-release/<%= post["slug"] %>/" title="Read press release">Read more <%= inline_svg("small/icon-angle-right", class: "icon-inline") %></a>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div class="row align-center">
        <div class="columns small-12 medium-6 text-center">
            <a class="button button--primary" href="/press/all/" title="View all">View all Press Releases <%= inline_svg("small/icon-angle-right", class: "icon-inline") %></a>
        </div>
    </div>
</section>

<section class="section-article container-color--gray-light" id="pressCoverage">
    <div class="row align-center">
        <div class="columns small-12 medium-8">
            <h2 class="headline-2 group text-center">Company Press Coverage</h2>
        </div>
    </div>
    <div class="row small-up-1 medium-up-2 large-up-3 xlarge-up-4 full-width">
        <% press_mentions = data.site.quotes.to_a.select{ | id, quote | quote["quote_type"] == "press" } %>
        <% sorted_press_mentions = press_mentions.sort_by{ |id, quote| quote['date'] }.reverse! %>
        <% sorted_press_mentions.each do | id, quote | %>
            <aside class="column group">
                <blockquote class="quote--serif" cite="<%= quote["url"] %>">
                    <%= quote["quote_body"] %>
                </blockquote>
                <p class="pub-date blockquote-info"><%= quote['date'].strftime('%B %-d, %Y') %></p>
                <% if quote.has_key?("source_logo") %>
                    <p>
                    <a class="blockquote-info" href="<%= quote["url"] %>" title="Read the article on their website">
                        <img class="logo-size--medium img-multiply" src="<%= quote.source_logo.url %>" alt="<%= quote["source"] %>">
                    </a></p>
                <% end %>
                <% if quote.has_key?("source") %>
                    <p class="blockquote-info text-italic">
                        Source: <a href="<%= quote["url"] %>" title="Read the article on their website"><%= quote["source"] %></a>
                    </p>
                <% end %>
            </aside>
        <% end %>
    </div>
    <div class="row">
        <div class="columns small-12 text-center">
            <%= partial "partials/snippets/to-top"%>
        </div>
    </div>
</section>
