<%# Basic Layout Template - Datica, 2016 - 2017 %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <% if current_page.data.has_key?("asset_preload") %>
            <%= current_page.data.asset_preload %>
        <% end %>
        <%# testing this as Netlify injection %>
        <% if build? %><%= partial "partials/scripts/google-tm-head" %><% end %>
        <%# Meta tags %>
        <%= partial "partials/head/tags" %>
        <%# Icons %>
        <%= partial "partials/head/icons" %>
        <%# Assets %>
        <%= stylesheet_link_tag "seldon" %>
        <% if current_page.data.has_key?("customCSS") %>
            <%= stylesheet_link_tag "views/"+current_page.data.customCSS %>
        <% end %>
    </head>
    <% if build? %><%= partial "partials/scripts/google-tm-body" %><% end %>
    <body class="<%= page_classes %>">
        <%#= partial "partials/snippets/alert-ribbon" %>
        <%= yield %>
        <%= partial "partials/snippets/footer" %>
        <%= partial "partials/scripts/footer" %>
    </body>
</html>
