<%# Basic Layout Template - Datica, 2016 - 2019 %>
<!DOCTYPE html>
<html class="no-js" lang="en-us">
    <head>
        <%# Meta tags %>
        <%= partial "partials/head/tags" %>
        <%# Icons %>
        <%= partial "partials/head/icons" %>
        <%# Assets %>
        <%= stylesheet_link_tag "seldon" %>
        <% if current_page.data.has_key?("customCSS") %>
            <% current_page.data.customCSS.split(",").each do |filename| %>
                <%= stylesheet_link_tag "views/"+filename.strip+".css" %>
            <% end %>
        <% end %>

    </head>
    <% if build? %><%= partial "partials/scripts/google-tm-body" %><% end %>
    <body class="<%= page_classes %>">
        <%#= partial "partials/snippets/alert-ribbon" %>
        <%= yield %>
        <%= partial "partials/snippets/footer" %>
        <%= partial "partials/scripts/footer" %>
    </body>
</html>
