<%# Company section pages - This template adds subnav at top of company pages (about, blog, etc.). %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <% if build? %><%= partial "partials/scripts/google-tm-head" %><% end %>
        <%# Meta tags %>
        <%= partial "partials/head/tags" %>
        <%# Icons %>
        <%= partial "partials/head/icons" %>
        <%# Assets %>
        <%= stylesheet_link_tag "seldon" %>
        <% if current_page.data.has_key?("customCSS") %>
            <%= stylesheet_link_tag "views/"+current_page.data.customCSS %>
        <% end %>
    </head>
    <% if build? %><%= partial "partials/scripts/google-tm-body" %><% end %>
    <body class="<%= page_classes %>">
        <%#= partial "partials/snippets/alert-ribbon" %>
        <div class="container-color--dark-alt">
            <%= partial "partials/head/header", :locals => { :style => "light" } %>
        </div>
        <div id="companyTop" class="show-for-large" data-sticky-container>
            <nav class="nav nav-desktop sticky sticky-nav container-gray-1 full-width" data-sticky data-options="marginTop:0; topAnchor:companyTop" data-theme="light">
                <ul class="menu horizontal align-center menu-secondary">
                    <%= partial "partials/snippets/nav-sub-company", :locals => { :class_li => "menu-item", :class_a => "menu-header menu-item--link" } %>
                </ul>
            </nav>
        </div>
<!--         <section class="custom-sticky custom-sticky--dark show-for-large">
            <div class="row">
                <div class="columns small-12 medium-12">
                    <ul>
                        <%= partial "partials/snippets/nav-sub-company" %>
                    </ul>
                </div>
            </div>
        </section> -->
        <%= yield %>
        <%= partial "partials/snippets/footer" %>
        <%= partial "partials/scripts/footer" %>
        <%# Custom JS files %>
        <% if current_page.data.has_key?("customJS") %>
            <% current_page.data.customJS.split(",").each do |filename| %>
                <script src="<%= filename.strip %>"></script>
            <% end %>
        <% end %>
    </body>
</html>
