<!DOCTYPE html>
<html class="no-js" lang="en-us">
  <head>
      <%# Meta tags %>
      <%= partial "partials/head/tags" %>
      <%# Icons %>
      <%= partial "partials/head/icons" %>
      <%# Assets %>
      <%= stylesheet_link_tag "seldon" %>
      <% if current_page.data.has_key?("customCSS") %>
          <%= stylesheet_link_tag "views/"+current_page.data.customCSS %>
      <% end %>
      <%= stylesheet_link_tag "seldon", "views/styleguide" %>
    </head>
    <body class="<%= page_classes %>">
        <%= partial "assets/icons/inlined/datica-logo-horiz-symbol.svg" %>
        <%= partial "partials/snippets/alert-ribbon" %>

        <div class="off-canvas position-right container-gray-2" id="offCanvasRight" data-off-canvas>
            <div class="callout--trans">
                <h3 class="headline-4">Seldon Style Guide</h3>
            </div>
            <hr class="divider">
            <ul class="menu vertical">
              <% 
                # Returns all pages under a certain directory. not working below 
                def sub_pages(dir)
                  sitemap.resources.select do |resource|
                    resource.path.start_with?(dir)
                  end
                end
               %>
              <%# sitemap.where(:primary_navigation => true).order_by(:weight).all.each do |resource| %>
                <%# seldon_pages = sitemap.resources.sort_by{ |page| page.data.navTitle } %>
                <%# sub_pages('seldon').each do |resource| %>
                  <%#= link_to resource.data.navTitle, resource.url %><%#= current_link_to resource.data.navTitle, resource.url, title: resource.summary, class: "link--white" %>
                <%# end %>
                <% sitemap.resources.each do |page| %>
                  <% if page.url =~ /^(\/seldon\/)/ && page.data.is_index != true %>
                      <li>
                          <%= current_link_to page.data.navTitle, page.url, title: page.data.summary, class: "link--white" %>
                      </li>
                    <% end %>
                <% end %>
                <li><hr class="divider"></li>
                <li><a class="link--white" href="http://foundation.zurb.com/sites/docs/" target="_blank" rel="external">Foundation documentation</a></li>
                <li><a class="link--white" href="https://middlemanapp.com" target="_blank" rel="external">Middleman Documentation</a></li>
                <li><a class="link--white" href="/">Main Site (local)</a></li>
            </ul>
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
            <a href="#top"></a>
            <header data-interchange="[/public/img/data-distortion-textures-@1x.png, small], [/public/img/data-distortion-textures-@2x.png, large]" class="masthead container-image-fill">
                <div class="row full-width">
                    <div class="columns small-12">
                        <div class="group clearfix">
                            <span class="float-left">
                                <a href="/" title="Datica Home">
                                    <img class="" src="/public/img/logo-w.svg" alt="Datica Home" />
                                </a>
                            </span>
                            <span class="float-right"><a class="link--white" data-open="offCanvasRight"><i class="fa fa-bars fa-2x"></i></a></span>
                        </div>
                    </div>
                </div>
                <div class="row align-center">
                    <div class="small-12 medium-9 large-9 columns text-center">
                        <h3 class="subhead--spaced headline-6">Seldon Style Guide</h3>
                        <h1 class="headline-1"><%= current_page.data.title %></h1>
                        <% if current_page.data.has_key?("subhead") %>
                            <h2 class="headline-4"><%= current_page.data.subhead %></h2>
                        <% end %>
                        <p class="lead"><%= current_page.data.summary %></p>
                    </div>
                </div>
            </header>
            <main>

            <%= yield %>

            </main>

            <% if current_page.data.is_index != true %>
                <div class="row section-article">
                    <div class="columns text-center">
                        <%= partial "partials/snippets/to-top" %>
                    </div>
                </div>
            <% end %>
        </div>
        <%= partial "partials/snippets/footer" %>
        <%= partial "partials/scripts/footer" %>
        <% if current_page.data.has_key?("customJS") %>
            <% current_page.data.customJS.split(",").each do |filename| %>
                <script src="<%= filename.strip %>"></script>
            <% end %>
        <% end %>
    </body>
</html>
