<%# Sparse Layout Template - Datica, 2017 %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <%# Meta tags %>
        <%= partial "partials/head/tags" %>
        <%# Icons %>
        <%= partial "partials/head/icons" %>
        <%# Assets %>
        <%= stylesheet_link_tag "seldon" %>
        <% if current_page.data.has_key?("customCSS") %>
            <%= stylesheet_link_tag "views/"+current_page.data.customCSS %>
        <% end %>
    </head>
    <%= partial "partials/scripts/google-tm-body" %>
    <body class="<%= page_classes %>">
        <%#= partial "partials/snippets/alert-ribbon" %>
        <%= yield %>
        <% if build? %>
            <%# Analytics %>
            <%= partial "partials/scripts/hubspot" %>
            <%= partial "partials/scripts/ga" %>
        <% end %>
        <%= partial "partials/snippets/footer" %>
        <%#= partial "partials/scripts/footer" %>
        <%= javascript_include_tag "svg-injector" %>
        <script>
            document.addEventListener("DOMContentLoaded", function(event) {
                var mySVGsToInject = document.querySelectorAll('img.inject-me');
                SVGInjector(mySVGsToInject);
            });
        </script>
        <%= javascript_include_tag "jquery" %>
        <%= javascript_include_tag "foundation.min" %>
        <%= javascript_include_tag "nav", "cookie", "sharer", "all" %>

        <%# Custom JS files %>
        <% if current_page.data.has_key?("customJS") %>
            <% current_page.data.customJS.split(",").each do |filename| %>
                <script src="<%= filename.strip %>"></script>
            <% end %>
        <% end %>
    </body>
</html>
