<%
# === Button component partial ===

# label: Button text. "Join us on Github"
# title: hover text for a11y. "Explore Datica git repos"
# url: "https://github.com/daticahealth"
# button_classes: add custom classes. Uses `button button--primary` as a fallback if not provided "button button--primary button--large"
# icon: filename (sans .svg), in the icons dir. eg "icon-github-octocat"
# icon_color: color of icon. Colors should map to list in $fill-color-list in settings.scss:223
# icon_align: "left". If missing, sets it to default of "right". Currently creates a class for that, if needed later.
# rel: for rel="" attributes. Suggested:  canonical|external|prev|next     https://developer.mozilla.org/en-US/docs/Web/HTML/Link_types

# Example call:
# <%= 
#     partial "partials/snippets/button", 
#         :locals => {
#             :label => "Join us on Github", 
#             :title => "Explore Datica git repos", 
#             :url => "https://github.com/daticahealth", 
#             :rel => "external", 
#             :button_classes => "button button--primary button--large", 
#             :icon => "icon-github-octocat", 
#             :icon_color => "white", 
#             :icon_align => "right" 
#         }
# %#>
# ---
# required elements
unless defined?(label)
	puts "The Button partial at #{current_page.url} requires a label!"
	label = "Click here"
end
unless defined?(url)
	puts "The Button partial at #{current_page.url} requires an URL!"
	url = "/"
end

if defined?(icon_color)
	svg_class = "icon-inline svg-color--#{icon_color}"
else
	icon_color = "white"
	svg_class = "icon-inline svg-color--#{icon_color}"
end

# check for icon alignment; if anything BUT "left" ensure it's "right"
if defined?(icon_align) && icon_align == "left"
	svg_class = svg_class + " icon-left"
else
	svg_class = svg_class + " icon-right"
	icon_align = "right"
end
unless defined?(button_classes)
	button_classes = "button button--primary"
end
unless defined?(title)
	title = label
end
if defined?(rel)
	rel = " rel=\"#{rel}\""
else
	rel = ""
end
%>

<a class="<%= button_classes %>" data-expand-on-small="true" href="<%= url %>" title="<%= title %>"<%= rel %>>
	<% if defined?(icon) %>
		<% if icon_align == "right" %>
			<%= label %>
			<%= inline_svg("small/" + icon, class: svg_class) %>
		<% else %>
			<%= inline_svg("small/" + icon, class: svg_class) %>
			<%= label %>
		<% end %>
	<% else %>
		<%= label %>
	<% end %>
</a>