<header class="main-header main-header<% if defined?(style) && style == "light" %>--white<% end %>">
    <a href="/" class="logo" title="Datica Home"></a>
    <%#= inline_svg("datica-logo-horiz", class: "icon-size--medium svg-color--white") %>
    <nav class="left">
        <div class="hide-for-large">
            <div class="group input-nav input-nav--white">
                <%= partial "partials/snippets/search-field" %>
            </div>
            <a href="/contact" class="expanded button button--light">Contact us</a>
        </div>
        <% data.nav_primary.nav_main.each do |m| %>
            <%= current_link_to m.title, m.url, title: m.desc, class: "is-current" %>
        <% end %>
        <div class="a" id="resourcesDropdown">
            <span class="selector">Resources <i class="fa fa-caret-down"></i></span>
            <div class="dropdown dropdown-resources drop dropdown-list--block">
                <div class="container-color--white">
                    <ul class="no-bullet dropdown-group">
                        <% data.nav_primary.nav_resources_a.each do |m| %>
                            <li class="dropdown-group--item no-wrap">
                            <%= current_link_to m.title, m.url, title: m.desc, class: "is-current" %>
                            </li>
                        <% end %>
                    </ul>
                    <hr class="hr">
                    <div class="list-title">Learn More:</div>
                    <ul class="no-bullet dropdown-group">
                        <% sorted_discover_posts = data.site.discover.to_a.sort_by{ |id, post| post['title'] } %>
                        <% sorted_discover_posts.each do | id, post | %>
                            <li class="dropdown-group--item">
                                <a class="dropdown-item--link" href="/discover/<%= post["slug"] %>" title="Discover <%= post["title"] %>"><%= post["title"] %></a>
                            </li>
                        <% end %>
                    </ul>
                    <hr class="hr">
                    <ul class="no-bullet dropdown-group">
                        <% data.nav_primary.nav_resources_b.each do |m| %>
                            <li class="dropdown-group--item no-wrap">
                            <%= current_link_to m.title, m.url, title: m.desc, class: "is-current" %>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="a" id="companyDropdown">
            <span class="selector">Company <i class="fa fa-caret-down"></i></span>
            <div class="dropdown dropdown-company drop dropdown-list--block">
                <div class="container-color--white">
                    <ul class="no-bullet dropdown-group">
                        <% data.nav_primary.nav_company_a.each do |m| %>
                            <li class="dropdown-group--item no-wrap">
                            <%= current_link_to m.title, m.url, title: m.desc, class: "is-current" %>
                            </li>
                        <% end %>
                    </ul>
                    <hr class="hr">
                    <ul class="no-bullet dropdown-group">
                        <% data.nav_primary.nav_company_b.each do |m| %>
                            <li class="dropdown-group--item no-wrap">
                            <%= current_link_to m.title, m.url, title: m.desc, class: "is-current" %>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="a" id="customerDropdown">
            <span class="selector">Customers <i class="fa fa-caret-down"></i></span>
            <div class="dropdown dropdown-customer drop dropdown-list--block">
                <div class="container-color--white">
                    <ul class="no-bullet dropdown-group">
                        <% data.nav_primary.nav_customers.each do |m| %>
                            <li class="dropdown-group--item no-wrap">
                            <%= current_link_to m.title, m.url, title: m.desc, class: "is-current" %>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <nav class="right">
        <div class="input-nav input-nav--<% if defined?(style) && style == "light" %>white<% else %>black<% end %> hide-for-large-only">
            <%= partial "partials/snippets/search-field" %>
        </div>
        <a href="//product.datica.com">Sign in</a>
        <a href="/contact" id="topNavCTA" class="button <% if defined?(style) && style == "light" %>button--light<% else %> success<% end %>">Contact us</a>
    </nav>
    <div class="mobile-menu">
        <i class="fa fa-bars"></i>
    </div>
</header>
