<%
# p = data.site.person[p.id]
if defined?(use_headers) && use_headers == true
    tag_1 = "h3"
    tag_2 = "h4"
else
    tag_1 = "div"
    tag_2 = "div"
end
case p.person_type
    when "Datica Executives", "Datica VP", "Datica Directors"
        datican = true
end
%>

<div class="person-card--vertical<% if defined?(classes) %> <%= classes %><% end %>">
    <% if p.has_key?("profile_pic") %>
        <img class="lozad avatar--large-mid circle" src="/assets/img/loader-disc.svg" data-src="<%= p["profile_pic"]["url"] %>?f=face&fit=thumb&w=250&h=250&fm=jpg&q=80" alt="<%= p["fullname"] %>">
    <% end %>
    <div class="person-card--caption">
        <<%= tag_1 %> class="person-name">
            <% if datican == true %>
                <a href="/about/<%= p["slug"] %>/" title="Learn more about <%= p["fullname"] %>">
                    <%= p["fullname"] %>
                </a>
            <% else %>
                <%= p["fullname"] %>
            <% end %>
        </<%= tag_1 %>>
         <% if p.has_key?("role") %>
            <<%= tag_2 %> class="person-title"><% if p.person_type == "Datica Alumni" %>Datica Alumni — Former <% end %><%= p["role"] %></<%= tag_2 %>>
        <% end %>
    </div>
</div>
