---
title: "Healthcare companies who trust Datica"
summary: "A collection of Datica customer case studies, testamonials, and profiles"
navTitle: "Customer Success"
author: "Datica, Inc."
tags: "compliance, HIPAA, HL7, FHIR, interoperability, EHR, integration"
date: "July 15, 2017"
ogType: "product"
share_image: "/public/img/share-posters/datica-social-twitter-thumb.png"
customCSS: "platform"
layout: platform
priority: "0.9"
collectionName: "platform"
collectionOrder: 5
---
<aside class="hide-for-large pad--sm container-color--blue-alt">
    <div class="row align-middle align-center">
        <div class="columns small-6 medium-4">
            <a href="/pricing" title="sign up" class="button button--light expanded small nomargin">Pricing <i class="fa fa-icon fa-angle-right"></i></a>
        </div>
    </div>
</aside>
<div class="container-color--white">
    <section class="section-article">
        <div class="row align-center">
            <div class="columns small-12 medium-12 large-7 text-center">
                <h1 class="headline-3">Healthcare's <strong>trusted</strong> partner</h1>
                <p>We are the compliance and data foundation for industry leaders and thought leaders, health systems and vendors.</p>
            </div>
        </div>
    </section>
</div>
<div id="successNav" class="show-for-large" data-sticky-container>
    <nav class="sticky sticky-nav sticky-nav--secondary container-gray-12 text-center full-width" data-sticky data-options="marginTop:3; topAnchor:successNav;">
        <ul class="menu horizontal align-center" data-magellan data-options="activeClass:is-current; offset: 50">
            <% data.views.proof.sectionNav.each do |item| %>
                <li class="menu-item">
                    <a href="#success<%= item["slug"] %>" title="<%= item["title"] %>" class="menu-item--link">
                        <%= item["label"] %>
                    </a>
                </li>
            <% end %>
        </ul>
    </nav>
</div>
<% sorted_customers = data.site.customers.to_a.sort_by{ |id, cf_customer | cf_customer['pub_date'] }.reverse! %>
<div class="" id="successCaseStudies" data-magellan-target="successCaseStudies">

<%= partial "partials/section-promos/aws-mlh-video", 
    :locals => {
        :quote_id => "5fDbO1XJ1CAEWAEIoiO6mS",
        :container_color => "container-gray-12"
        #:background => "https://images.contentful.com/189dvqdsjh46/55EpUazd5CQSqC66CaWYqI/fd3aa1534d8d641ee8bd60d3592e98a3/aws-mlh-diagram-k-alpha.png"
    }
%>
    <section class="section-article--med container-gray-11">
        <div class="text-center group">
            <h2 class="headline-3">A shared vision for the future of healthcare</h2>
        </div>
        <div class="multicol--cards-group">
            <% sorted_customers.each do | id, cf_customer | %>
                <% if cf_customer.has_key?("case_study") && cf_customer["case_study"].has_key?("media_object") %>
                    <div class="multicol--cards-group__item">
                        <%= partial "/partials/content/card-case-study",  :locals => { :cf_customer => cf_customer } %>
                    </div>
                <% end %>
            <% end %>
            <% sorted_customers.each do | id, cf_customer | %>
                <% if cf_customer.has_key?("case_study") && cf_customer["slug"] != current_page.data.featuredCase && cf_customer["case_study"].has_key?("media_object") == false %>
                    <div class="multicol--cards-group__item">
                        <%= partial "/partials/content/card-case-study",  :locals => { :cf_customer => cf_customer } %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </section>
</div>
<section class="section-article" id="successSpotlights" data-magellan-target="successSpotlights">
    <div class="row align-center">
        <div class="columns small-12 large-8 text-center group">
            <h2 class="headline-2 group">Customer Spotlights</h2>
        </div>
    </div>
    <div class="row align-center">
        <div class="columns small-12 large-8">
            <% sorted_entries = data.site.spotlights.to_a.sort_by{ |id, entry| entry['title'] } %>
            <% sorted_entries.each do | id, entry | %>
                <article class="row item-list content-dynamic">
                    <div class="columns small-4 medium-3 large-4">
                        <a class="" href="/customer/<%= entry["customer"]["slug"] %>#spotlight">
                            <img class="" src="/public/img/customer-logos/<%= entry["customer"]["slug"] %>-logo.png" alt="<%= entry["customer"]["company_name"] %> Spotlight"/>
                        </a>
                    </div>
                    <div class="columns small-8 medium-9 large-8">
                        <p class="text-left"><%= entry["summary"] %><br>
                            <a title="Read more" href="/customer/<%= entry["customer"]["slug"] %>#spotlight">Read the <%= entry["customer"]["company_name"] %> Spotlight  <i class="fa fa-angle-right"></i></a>
                        </p>
                    </div>
                </article>
            <% end %>
        </div>
    </div>
</section>

<section class="section-article container-color--gray-light" id="successPartners" data-magellan-target="successPartners">
    <div class="row align-center">
        <div class="columns small-12 large-10 text-center group">
            <h2 class="headline-2">A trusted healthcare-only partner with the world's biggest cloud providers</h2>
        </div>
    </div>
    <div class="row align-stretch">
        <div class="columns small-12 large-4">
            <p><a class="group" href="https://azure.microsoft.com"><img src="/public/img/customer-logos/microsoft-logo.png" alt="microsoft" class="logo-size--medium" /> </a>
            </p>
            <p class="quote--serif quote--serif-plain">Healthcare is undergoing massive technological transformation. Datica's approach to HIPAA compliance means Microsoft Azure customers can utilize trusted solutions to privacy and data security which meet the highest levels of healthcare standards. We're excited to offer a HITRUST CSF Certified platform such as Datica in the Azure ecosystem.</p>
            <div class="person person-small group">
                <div class="person-name">Nicole Herskowitz</div>
                <div class="person-role">Senior Director Product Marketing, Microsoft Azure</div>
                <div class="company"><em>Microsoft Corp.</em></div>
            </div>
        </div>
        <div class="columns small-12 large-4">
            <p><a class="group" href="https://aws.amazon.com/"><img src="/public/img/customer-logos/aws-logo.png" alt="Amazon AWS" class="logo-size--medium" /> </a>
            </p>
            <p class="quote--serif quote--serif-plain">Healthcare is an industry in the midst of transitioning to the cloud, and AWS is strategically positioned to service the healthcare industry's computing needs. AWS’s work with Datica, a company that focuses on meeting healthcare’s unique compliance needs through security frameworks like HITRUST, helps position AWS to play a key role in the health industry’s transformation.</p>
            <div class="person person-small group">
                <div class="person-name">Josh Hofmann</div>
                <div class="person-role">Global Lead, Partner Ecosystem</div>
                <div class="company"><em>Amazon Web Services, Inc.</em></div>
            </div>
        </div>
        <div class="columns small-12 large-4">
            <p><a class="group" href="http://salesforce.com"><img src="/public/img/customer-logos/salesforce-logo.png" alt="salesforce" class="logo-size--large" /> </a>
            </p>
            <p class="quote--serif quote--serif-plain">We live in the age of the customer, and patients now expect personalized and engaging experiences with their healthcare providers. Health Cloud is all about building stronger patient relationships, and Datica is a valuable part of our journey towards creating a modern healthcare platform for patients, doctors, and everyone else involved in care.</p>
            <div class="person person-small group">
                <div class="person-name">Joshua Newman, MD</div>
                <div class="person-role">Chief Medical Officer, GM</div>
                <div class="company"><em>Salesforce Healthcare and Life Sciences</em></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="half-hr half-hr--more-space"></div>
    </div>
    <div class="row">
        <div class="columns small-12 medium-4">
            <div class="text-center align-self-bottom">
                <a href="http://softlayer.com" title="Visit http://softlayer.com">
                    <img src="/public/img/customer-logos/softlayer-logo.png" alt="Softlayer logo" class="logo-header-image" />
                </a>
            </div>
        </div>
        <div class="columns small-12 medium-4">
            <div class="text-center align-self-bottom">
                <a href="http://rackspace.com" title="Visit http://rackspace.com">
                    <img src="/public/img/customer-logos/rackspace-logo.png" alt="Rackspace logo" class="logo-header-image" />
                </a>
            </div>
        </div>
        <div class="columns small-12 medium-4">
            <div class="text-center align-self-bottom">
                <a href="http://hosting.com" title="Visit http://hosting.com">
                    <img src="/public/img/customer-logos/hosting-logo.png" alt="Hosting logo" class="logo-header-image" />
                </a>
            </div>
        </div>
    </div>
</section>
<section class="section-article" id="successHealthSystems" data-magellan-target="successHealthSystems">
    <div class="row group">
        <div class="columns small-12 text-center">
            <h3 class="">Focus on your core competency</h3>
            <div class="row collapse align-center">
                <div class="columns small-12 large-8">
                    <p class="lead">Innovative organizations across healthcare depend upon Datica to relieve the burden of compliance and integration.</p>
                </div>
            </div>
            <div class="logo-cloud">
                <% data.views.proof.customersCore.each do |logo| %>
                    <img src="/public/img/customer-logos/sm/<%= logo["slug"] %>-logo.png" alt="<%= logo["name"] %>" class="logo-cloud--item logo-size--<%= logo['logoSize']%> " />
                <% end %>
            </div>
        </div>
    </div>
    <div class="row group">
        <div class="columns small-12 text-center">
            <h3 class="">We help customers secure relationships with health systems</h3>
            <div class="row collapse align-center">
                <div class="columns small-12 large-9">
                    <p class="lead">Vendors who use Datica can lean on our HITRUST CSF Certification and integration expertise to quickly establish relationships with systems across healthcare</p>
                    <div class="logo-cloud">
                        <% data.views.proof.customersHT.each do |logo| %>
                            <img src="/public/img/customer-logos/sm/<%= logo["slug"] %>-logo.png" alt="<%= logo["name"] %>" class="logo-cloud--item logo-size--<%= logo['logoSize']%> " />
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row group" id="successEHRs" data-magellan-target="successEHRs">
        <div class="columns small-12 text-center">
            <h3 class="">We have successfully worked with all major EHRs</h3>
            <div class="row collapse align-center">
                <div class="columns small-12 large-8">
                    <p class="lead">Our trust with health systems combined with our expertise in integration means you can count on successful integrations with any major EHR</p>
                    <div class="logo-cloud">
                        <% data.views.ehrs.ehr_list.each do |logo| %>
                            <img src="/public/img/customer-logos/sm/<%= logo["slug"] %>-logo.png" alt="<%= logo["name"] %>" class="logo-cloud--item logo-size--<%= logo['logoSize'] %>" />
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
