---
title: "Datica Technology Platform"
summary: "Technology capabilities and support on the Datica Platform"
navTitle: "Technology"
author: "Datica, Inc."
tags: "compliance, HIPAA, HL7, FHIR, interoperability, EHR, integration"
date: "July 15, 2017"
ogType: "product"
share_image: "//images.contentful.com/189dvqdsjh46/80SDxxPlIsygQUCWOowSS/cd68f00dc5c3ef7942a24af04b94c9b2/cta-free-trial-mts.jpg"
customCSS: "platform"
layout: platform
priority: "0.9"
collectionName: "platform"
collectionOrder: 2
ctaCustom: true
---
<!-- <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-plus-disc" viewBox="0 0 32 32"><title>plus-disc</title>
<g fill-rule="evenodd">
     <path fill="currentColor" class="disc" fill-rule="nonzero" d="M16,32 C7.163,32 0,24.837 0,16 C0,7.163 7.163,0 16,0 C24.837,0 32,7.163 32,16 C32,24.837 24.837,32 16,32 Z M16,28.8 C23.069,28.8 28.8,23.069 28.8,16 C28.8,8.931 23.069,3.2 16,3.2 C8.931,3.2 3.2,8.931 3.2,16 C3.2,23.069 8.931,28.8 16,28.8 Z"/>
    <polygon fill="currentColor" class="plus" points="9.6 6.4 16 6.4 16 9.6 9.6 9.6 9.6 16 6.4 16 6.4 9.6 0 9.6 0 6.4 6.4 6.4 6.4 0 9.6 0" transform="translate(8 8)"/>
  </g>
</symbol>
</defs>
</svg> -->
<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" data-name="chevron" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <symbol id="icon-chevron-down" viewBox="0 0 18 18">
        <title>chevron-down</title>
        <path d="M4.29 5.19L2.83 6.64 9 12.81l6.17-6.17-1.46-1.45L9 9.9z"/>
        </symbol>
    </defs>
</svg>
<aside class="hide-for-large pad--sm container-color--blue-alt">
    <div class="row align-middle align-center">
        <div class="columns small-6 medium-4">
            <a href="/platform/compliance" title="Learn about integrations" class="button hollow--inverted expanded small nomargin">Integrations <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="columns small-6 medium-4">
            <a href="/pricing" title="sign up" class="button button--light expanded small nomargin">Pricing <i class="fa fa-icon fa-angle-right"></i></a>
        </div>
    </div>
</aside>
<section id="tech" class="section-article">
    <div class="row align-center">
        <div class="columns small-12 medium-10 large-7 text-center">
            <h1 class="headline-3 group">We focus on the <strong>Compliant Ops</strong>, so you can focus on your <strong>Apps</strong></h1>
            <%= partial "partials/snippets/button", :locals => { :label => "See how Datica solves Compliance", :title => "See how Datica solves Compliance", :url => "/platform/compliance", :button_classes => "button", :icon => "icon-chevron-right", :icon_color => "white", :icon_align => "right" }  %>
            <!-- <p>Datica's platform prioritizes security and compliance. Under the hood, we use a Docker-based multi-tenant network across several public clouds, configured precisely to meet the controls within HIPAA regulation and NIST standards.</p> -->
        </div>
    </div>
</section>
<!-- minor inline css hack to match video color -->
<section class="container-color--dark-alt" style="background-color: #23272C">
    <video id="vid-platform-diagram" class="html5-video-responsive" poster="" playsinline autoplay muted loop>
        <source type="video/mp4" src="https://videos.contentful.com/189dvqdsjh46/6FV36Yd2JqYgCIgwGucKAm/bf8e90962701acda5f785ee00663cefd/Datica_Platform_Diagram_animation_2018_01.m4v">
    </video>
    <div class="section-article" style="padding-top: 1rem;">
        <div class="row align-center">
            <div class="columns small-12 large-8">
                <h2 class="headline-4 spaced-out text-center group">How the Platform Works</h2>
                <div class="multicol-2">
                <%= Kramdown::Document.new(data.views.platform.tech_content.lead).to_html %>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-article container-gray-12" id="tech-features">
    <div class="row align-center">
        <div class="columns small-12 text-center group">
            <h2 class="headline-4 spaced-out">Datica Platform Features</h2>
        </div>
    </div>
    <% ordered_feature_categories = data.site.featureCategories.to_a.sort_by{ |id, featureCat| featureCat['sort_order'] } %>
    <% ordered_feature_categories.each do | id, featureCat | %>
        <div class="row">
            <div class="columns small-12 large-8">
                <h3 class="headline-43"><%= featureCat["title"] %></h3>
                <% if featureCat.has_key?("desc") %>
                    <p class="lead"><%= featureCat["desc"] %></p>
                <% end %>
            </div>
        </div>
        <div class="row small-up-1 medium-up-2 large-up-3 xlarge-up-3 group--2x">
            <% if featureCat.has_key?("related_features") %>
                <% featureCat["related_features"].each do | feature | %>
                    <div class="column feature-item">
                        <% if feature.has_key?('desc') %>
                            <h4 class="headline-5">
                                <a class="is-toggle" data-toggle="feature-detail_<%= feature.slug %>">
                                <%= feature.title %>
                                <svg id="feature-icon-<%= feature.slug %>" class="icon-inline icon-toggle svg-color--blue icon icon-plus-disc" style="margin-bottom: 0.03em;"><use xlink:href="#icon-chevron-down" class="symbol-icon"></use></svg>
                                </a>
                            </h4>
                        <% else %>
                            <h4 class="headline-6"><%= feature.title %></h4>
                        <% end %>
                        
                        <% if feature.has_key?("summary") %>
                            <%= Kramdown::Document.new(feature.summary).to_html %>
                        <% end %>
                        <% if feature.has_key?("desc") %>
                            <div class="show-more--container text-smaller" data-toggler id="feature-detail_<%= feature.slug %>" data-off-canvas>
                                <%= Kramdown::Document.new(feature.desc).to_html %>
                            </div>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
        </div>
    <% end %>

</section>
<section class="section-article" id="tech-ehrs">
    <div class="row align-center text-center">
        <div class="columns small-12 large-6">
            <h2 class="headline-3">Integrate with any EHR</h2>
            <p class="lead">Modern healthcare applications must integrate with Electronic Health Records, like Epic or Cerner, in order to improve their value. Datica helps you get that job done in a secure, compliant, and scalable way.</p>
        </div>
    </div>
    <div class="row align-center text-center collapse">
        <div class="columns small-12 large-10">
            <div class="logo-cloud">
                <% data.views.ehrs.ehr_list.each do |logo| %>
                    <img src="/public/img/customer-logos/sm/<%= logo["slug"] %>-logo.png" alt="<%= logo["name"] %>" class="logo-cloud--item logo-size--<%= logo['logoSize'] %>" />
                <% end %>
            </div>
        </div>
    </div>
    <hr class="divider">
    <div class="row align-center">
        <div class="columns small-12 large-6">
            <h3 class="headline-4 text-center">One-click-install Mirth Connect</h3>
            <%= Kramdown::Document.new(data.views.platform.tech_content.mirth).to_html %>
            <%=
            partial "partials/snippets/button",
                :locals => {
                    :label => "Test out your own version of Mirth today",
                    :title => "Test out your own version of Mirth today",
                    :url => "/pricing",
                    # :rel => "external",
                    :button_classes => "button text-center",
                    :icon => "icon-chevron-right",
                    :icon_color => "white",
                    # :icon_align => "right"
                }
            %>
        </div>
    </div>
    <hr class="divider">
    <div class="row align-center">
        <div class="columns small-12 large-6">
            <h3 class="headline-4 text-center">Sansoro Health Emissary &reg;</h3>
            <%= Kramdown::Document.new(data.views.platform.tech_content.sansoro).to_html %>
            <%=
            partial "partials/snippets/button",
                :locals => {
                    :label => "Contact us to learn more",
                    :title => "Contact us to learn more",
                    :url => "/contact",
                    # :rel => "external",
                    :button_classes => "button hollow",
                    :icon => "icon-chevron-right",
                    :icon_color => "blue",
                    # :icon_align => "right"
                }
            %>
        </div>
    </div>
</section>

<section class="section-article" id="tech-hcms">
    <div class="row align-center">
        <div class="columns small-12 text-center group">
            <h2 class="headline-3 nomargin">Healthcare Compliance Management System</h2>
            <!-- <p class="lead"></p> -->
        </div>
    </div>
    <div class="row align-center">
        <div class="columns small-12 medium-6 large-7">
            <img src="https://images.contentful.com/189dvqdsjh46/3wzJLEqLHqs4kC2cAk4Msq/1131a6ae3d921e934fa8effa21802b35/hcms-dashboard.png?w=1200" alt="HCMS Dashboard">
        </div>
        <div class="columns small-12 medium-6 large-4">
            <p>Visibility into the continuous compliance and security provided by the Datica Platform is important to our customers. The HCMS is a compliance dashboard that gives insights into all compliance controls across all customer environments.</p>
        </div>
    </div>
</section>
<!-- cta -->
<section id="ctaBottom" class="section-article container-color--blue-bright-noise container-image--center" data-interchange="[/public/img/bg/platform-integration-inverted-bg.png, medium]">
    <div class="row align-center">
        <div class="columns small-12 medium-10 text-center">
            <h2 class="headline-3 group"><strong>End-to-end compliance</strong> on AWS and Azure is possible.</h2>
        </div>
    </div>
    <div class="row align-center">
        <div class="columns small-12 large-4 text-right">
            <%= partial "partials/snippets/button", :locals => { :label => "View Pricing", :title => "View Platform pricing", :url => "/pricing", :button_classes => "button hollow--inverted" } %>
        </div>
        <div class="columns small-12 large-6">
            <%= partial "partials/snippets/button", :locals => { :label => "See how Datica solves Compliance", :title => "See how Datica solves Compliance", :url => "/platform/compliance", :button_classes => "button button--light", :icon => "icon-chevron-right", :icon_color => "black", :icon_align => "right" }  %>
        </div>
    </div>
</section>


<section class="section-article container-color--gray-light">
    <div class="row align-center small-up-1 medium-up-2 large-up-3">
        <div class="column">
            <h5 class="headline-5">Datica supports the following community buildpacks</h5>
            <ul class="no-bullet multicol-2 group">
                <li>Ruby</li>
                <li>Node.js</li>
                <li>Clojure</li>
                <li>Python</li>
                <li>Java</li>
                <li>Gradle</li>
                <li>Grails 3.x</li>
                <li>Scala</li>
                <li>Play 2.x</li>
                <li>PHP</li>
                <li>Go</li>
            </ul>
            <h5 class="headline-5">Windows architecture support</h5>
            <ul class="no-bullet">
                <li>Windows VMs on dedicated accounts</li>
                <li>Microsoft SQL Server</li>
            </ul>
        </div>
        <div class="column">
            <h5 class="headline-5">Support for the following databases</h5>
            <ul class="no-bullet group">
                <li>Percona/MySQL</li>
                <li>PostgreSQL</li>
                <li>MongoDB</li>
            </ul>
            <h5 class="headline-5">Support for the following utilities</h5>
            <ul class="no-bullet group">
                <li>Redis</li>
                <li>Memcached</li>
                <li>RabbitMQ</li>
            </ul>
        </div>
        <div class="column">
            <div class="callout callout--gray-light">
                <p class="lead">Additionally, Datica customers can write their own buildpacks or use other third-party buildpacks.</p>
                <p class="lead">Don't see a listed technology you wish to use? Contact sales to see additional compatability.</p>
            </div>
        </div>
    </div>
</section>


<section id="faq-tech" class="section-article">
    <div class="row align-center">
        <div class="columns small-12 medium-8 large-8">
            <h3 class="headline-3 text-center group">Frequently asked questions about our platform</h3>
        </div>
    </div>
    <div class="row align-center">
        <div class="columns small-12 medium-4 large-4">
            <div class="callout callout--gray-light">
                <ol class="">
                    <% data.views.faqs.platform_tech.each_with_index do |item, index| %>
                        <li><a href="#platform-tech-question-<%= index %>"><%= item["question"] %></li></a>
                    <% end %>
                </ol>
            </div>
        </div>
        <div class="columns small-12 medium-8 large-8">
            <dl class="">
                <% data.views.faqs.platform_tech.each_with_index do |item, index| %>
                    <dt id="platform-tech-question-<%= index %>"><%= item["question"] %></dt>
                    <dd><%= Kramdown::Document.new(item["answer"]).to_html %></dd>
                <% end %>
            </dl>
            <hr class="divider">
            <p class="lead">Get started with the Datica platform today</p>
            <a class="button hollow" href="/pricing" title="Learn about integrations">See pricing options <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</section>
