---
title: "Datica Customer Case Studies"
summary: "Datica Customer Case Studies"
author: "Datica, Inc."
tags: "HIPAA, HL7, FHIR, interoperability, EHR, integration"
date: "January 1, 2017"
share_image: "https://images.contentful.com/189dvqdsjh46/3Ll0a3gLi8wKG8A84mUokm/fabae03bd9e4da4e60173d4c2fe89a30/blog-share-default.png"
header: Case Studies
layout: listing
---

<% data.site.caseStudy.each do |id, entry| %>
    <% if entry.has_key?("featured") && entry["featured"] == true %>
        <section class="section-article">
            <div class="row align-middle">
                <div class="columns small-12 medium-6">
                    <% if entry.has_key?("value_prop") %>
                        <h3 class="headline-3"><%= entry["value_prop"] %></h3>
                    <% end %>
                    <% if entry.has_key?("customer_quote") %>



                    <!-- <hr> -->
                        <blockquote class="quote--serif">
                            <%= entry["customer_quote"]["quote_body"] %>
                        </blockquote>
                    <% end %>
                    <% if entry.has_key?("customer") && entry["customer"].has_key?("profile_pic") %>
                        <%= partial("partials/snippets/person", :locals => { :p => entry["customer"] }) %>
                    <% end %>

                </div>
                <div class="columns small-12 medium-6">
                    <div class="callout callout--stretch drop-blue">
                        <p>
                            <img class="logo-size--medium" src="/public/img/customer-logos/<%= entry["customer"]["slug"] %>-logo.png" alt="<%= entry["customer"]["company_name"] %> Logo"/>
                        </p>
                        <% if entry.has_key?("media_object") %>
                            <div class="group">
                                <%= entry["media_object"] %>
                            </div>
                        <% end %>
                        <h5><%= entry["case_study_title"] %></h5>
                        <% if entry.has_key("customer") && entry["customer"].has_key("customer_story_short") %>
                            <p class="">
                                <%= entry["customer"]["customer_story_short"] %>
                            </p>
                        <% end %>


                        <a class="button--primary button" href="/customer/<%= entry["slug"] %>">
                            Read the <%= entry["customer"]["company_name"] %> case Study <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </section>
    <% end %>
<% end %>
