---
title: "Datica Innovation"
summary: "How does healthcare innovate? Datica explores this topic through new series of interviews with several of the industry's top thinkers and doers. Follow along with us as we uncover insights to catalyzing change in healthcare."
author: "Datica, Inc."
tags: "HIPAA, HL7, FHIR, interoperability, EHR, Kubernetes"
date: "January 1, 2017"
header: "Datica Innovation"
layout: basic
customCSS: "innovation"
---

<div class="bg-gray-12 container-image--top lozad" data-background-image="<%= bg_product_light %>">
    <%= partial "partials/head/header", :locals => { :style => "dark" } %>
    <section id="top" class="section-article">
        <div class="row align-center align-middle">
            <div class="columns medium-5 text-right">
                <h1 class="headline-2 headline--inverted text--gray-7">Datica <span class="text--gray-1 text-bold">Innovation</span></h1>
            </div>
            <div class="columns small-12 medium-7">
                <p class="lead"><strong>How does healthcare innovate?</strong> Datica explores this topic in a new series of interviews with the industry's top thinkers and doers. Join us as we uncover insights to catalyzing change in healthcare.</p>
            </div>
        </div>
    </section>
<%#= partial "partials/section-promos/aws-mlh-video", 
    :locals => {
        :quote_id => "5fDbO1XJ1CAEWAEIoiO6mS",
        :container_color => "container-gray-10"
        #:background => "https://images.ctfassets.net/189dvqdsjh46/55EpUazd5CQSqC66CaWYqI/fd3aa1534d8d641ee8bd60d3592e98a3/aws-mlh-diagram-k-alpha.png"
    }
%>
<%#= partial "/partials/section-promos/report-heart-of-medicine", :locals => { :style => "light", :align => "left" } %>
<%#= partial "partials/section-promos/report-q317", :locals => { :style => "light", :align => "right" } %>
    <%= partial("partials/section-promos/latest-series") %>
    <% sorted_reports = data.site.reports.to_a.sort_by{ |id, report| report['pub_date'] }.reverse! %>

    <section class="bg-gray-12 card-featured-section">
        <div class="row">
            <div class="columns group text-center">
                <h3 class="subhead--spaced faded headline-5">Datica Innovation Reports</h3>
            </div>
        </div>
        <div class="row row--card-grid full-width align-center small-up-1 medium-up-2 large-up-4">
        <% sorted_reports[1...4].each do | id, report | %>
            <div class="column">
                <%= partial "partials/cards/card-report", :locals => { :post => report, :style => "dark", :size => "small" } %>
            </div>
        <% end %>
        </div>
        <div class="row small-up-1 large-up-2 pad">
            <%= partial "partials/content/reports-annual-list" %>
        </div>
    </section>

    <% sorted_reports.take(1).each do | id, report | %>
        <%
            if report.has_key?("subhead")
                hed = report["subhead"]
            end
        %>
        <%= partial "partials/section-promos/report-promo", :locals => { :p => report, :headline => hed } %>
    <% end %>

    <%= partial "/partials/section-promos/leadership-gallery" %>

    <% sorted_podcasts = data.site.podcast.to_a.sort_by{ |id, podcast| podcast['pub_date'] }.reverse! %>
    <section data-magellan-target="discoverInnovation" id="discoverInnovation" class="lozad discover--podcast section-article container-color--dark-alt container-image--middle" data-background-image="https://images.ctfassets.net/189dvqdsjh46/19d5iulqaYg8ACWcYQ6Im6/3f883ec8f77add5b22a497e3b3d63e6d/art-sound-bars-purple.svg">
        <div class="row align-center collapse">
            <div class="columns small-12 large-10">
                <h3 class="innovation--section-header">Healthcare Innovators <span class="innovation--category">Podcast</span></h3>
                <% sorted_podcasts.take(1).each do | id, podcast | %>
                    <div class="row innovation--podcast-entry">
                        <div class="columns small-12 medium-3">
                            <% if podcast.has_key?("guest") %>
                                <% if podcast["guest"].has_key?("fullname") %>
                                    <div class="person-vertical show-for-medium">
                                        <a class="" href="/innovation/<%= podcast["slug"] %>" title="Listen to this episode now">
                                            <img src="https://images.ctfassets.net/189dvqdsjh46/7dsvS1pbuo2etN908phqGD/4acf3ebbf566f0f31cf74882f6faa3e8/loader-disc.svg" data-src="<%= podcast["guest"]["profile_pic"]["url"] %>?fit=thumb&w=400&h=400&f=face&q=45" class="lozad avatar circle group--sm" alt="<%= podcast["guest"]["fullname"] %>">
                                        </a>
                                        <div class="text-center">
                                            <div class="person-name"><%= podcast["guest"]["fullname"] %></div>
                                            <div class="person-title"><%= podcast["guest"]["role"] %></div>
                                        </div>
                                    </div>
                                <% end %>
                            <% end %>
                        </div>
                        <div class="columns small-12 medium-9">
                            <h3 class="headline-5">
                                <a class="link--yellow" href="/innovation/<%= podcast["slug"] %>" title="Listen to this episode now"><%= podcast["title"] %></a>
                            </h3>
                            <div class="person hide-for-medium">
                                <%= partial("partials/snippets/person", :locals => { :p => podcast["guest"] }) %>
                            </div>
                            <p>
                                <% if podcast.has_key?("pub_date") %>
                                    <span class="pub-date"><%= podcast['pub_date'].strftime('%B %-d, %Y') %></span>
                                <% end %>
                                <% if podcast.has_key?("tags") %>
                                    <% podcast["tags"].each do |tag| %>
                                        <% if tag.has_key?("tag_full") %>
                                            <span class="label info round faded"><%= tag["tag_full"] %></span>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            </p>
                            <% if podcast.has_key?("soundcloud_embed") %>
                                <div class="media-object">
                                    <%= podcast['soundcloud_embed'] %>
                                </div>
                            <% end %>
                            <% if podcast.has_key?("summary") %>
                                <div class="innovation--podcast-entry__summary">
                                    <%= Kramdown::Document.new(podcast["summary"]).to_html %>
                                    <a class="button hollow hollow-inverted" href="/innovation/<%= podcast["slug"] %>" title="Listen now">Listen now <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                            <% end %>
                        </div>
                    </div>
                <% end %>
                <p class="text-center"><a class="link--yellow" href="/podcast/">See More Podcasts <i class="fa fa-angle-right" aria-hidden="true"></i></a></p>
            </div>
        </div>
    </section>
</div>
<%= partial "/partials/section-promos/dhsf-video", :locals => { :align => "left" } %>
