---
title: "Datica Innovation"
summary: "How does healthcare innovate? Datica explores this topic through new series of interviews with several of the industry's top thinkers and doers. Follow along with us as we uncover insights to catalyzing change in healthcare."
author: "Datica, Inc."
tags: "HIPAA, HL7, FHIR, interoperability, EHR, Kubernetes"
date: "January 1, 2017"
header: "Datica Innovation"
layout: basic
customCSS: "innovation"
---

<div class="bg-gray-12 container-image--top lozad" data-background-image="<%= bg_product_light %>">
    <%= partial "partials/head/header", :locals => { :style => "dark" } %>
    <section id="top" class="section-article">
        <div class="row align-center align-middle">
            <div class="columns medium-5 text-right">
                <h1 class="headline-2 headline--inverted text--gray-7">Datica <span class="text--gray-1 text-bold">Innovation</span></h1>
            </div>
            <div class="columns small-12 medium-7">
                <p class="lead"><strong>How does healthcare innovate?</strong> Datica explores this topic in a new series of interviews with the industry's top thinkers and doers. Join us as we uncover insights to catalyzing change in healthcare.</p>
            </div>
        </div>
    </section>
<%#= partial "partials/section-promos/aws-mlh-video", 
    :locals => {
        :quote_id => "5fDbO1XJ1CAEWAEIoiO6mS",
        :container_color => "container-gray-10"
        #:background => "https://images.ctfassets.net/189dvqdsjh46/55EpUazd5CQSqC66CaWYqI/fd3aa1534d8d641ee8bd60d3592e98a3/aws-mlh-diagram-k-alpha.png"
    }
%>
<%#= partial "/partials/section-promos/report-heart-of-medicine", :locals => { :style => "light", :align => "left" } %>
<%#= partial "partials/section-promos/report-q317", :locals => { :style => "light", :align => "right" } %>
    <%= partial("partials/section-promos/latest-series") %>
    <% sorted_reports = data.site.reports.to_a.sort_by{ |id, report| report['pub_date'] }.reverse! %>

    <section class="bg-gray-12 card-featured-section">
        <div class="row">
            <div class="columns group text-center">
                <h3 class="subhead--spaced faded headline-5">Datica Innovation Reports</h3>
            </div>
        </div>
        <div class="row row--card-grid full-width align-center small-up-1 medium-up-2 large-up-4">
        <% sorted_reports[1...4].each do | id, report | %>
            <div class="column">
                <%= partial "partials/cards/card-report", :locals => { :post => report, :style => "dark", :size => "small" } %>
            </div>
        <% end %>
        </div>
        <div class="row small-up-1 large-up-2 pad">
            <%= partial "partials/content/reports-annual-list" %>
        </div>
    </section>

    <% sorted_reports.take(1).each do | id, report | %>
        <%
            if report.has_key?("subhead")
                hed = report["subhead"]
            end
        %>
        <%= partial "partials/section-promos/report-promo", :locals => { :p => report, :headline => hed } %>
    <% end %>

    <%= partial "/partials/section-promos/leadership-gallery" %>

    <div data-magellan-target="discoverInnovation" id="discoverInnovation">
        <%= partial "/partials/section-promos/podcast" %>
    </div>
</div>
<%= partial "/partials/section-promos/dhsf-video", :locals => { :align => "left" } %>
