---
title: "Healthcare Innovators: Rethinking Healthcare Technology"
summary: "We have collected a host of expansive, useful, and original insights about the complicated and multi-dimensional effort of digital transformation and innovation in the healthcare environment."
author: "Datica, Inc."
tags: "healthcare, leadership, innovation"
date: "August 1, 2017"
share_image: "https://images.ctfassets.net/189dvqdsjh46/6narHoNofSE0WosSoisscK/a2269efd27d6083468dd995c92e1408f/Leadership_Gallery_Vol._1_Introduction_poster.jpg??w=640&q=60"
header: "Datica Thought Leadership Gallery"
subheader: "subheader"
layout: sparse
sharer: true
customCSS: "leadership-gallery"
customJS: "/public/js/leadership-gallery.js"
---
<%
sorted_entries = data.site.leadershipGallery.to_a.sort_by{ |id, entry| entry['title'] }
%>

<div class="lg container-color--dark-alt">
    <%= partial "partials/head/header", :locals => { :style => "light" } %>
</div>

<section id="content" class="">
    <div class="row collapse full-width">
        <div id="main-content" class="columns small-12 medium-7 large-8">
            <div class="row collapse align-center">
                <div class="columns small-12 large-10 xxlarge-9">
                    <div class="lg-content tabs-content" data-tabs-content="lg-nav--tabs">
                        <nav aria-label="You are here:" role="navigation">
                            <ul class="breadcrumbs faded">
                                <li><a href="/" title="Datica Home">Home</a></li>
                                <li><a href="/innovation" title="Innovation Main Page">Innovation</a></li>
                                <li><span class="show-for-sr">Current: </span> <a href="#" title="Introduction" onclick="$('#lg-nav--tabs').foundation('selectTab', '#intro');">Rethinking Healthcare Technology</a></li>
                            </ul>
                        </nav>
                        <div id="intro" class="tabs-panel lg-entry group is-active">
                            <div class="group">
                                <!-- <h4 class="subhead--small text--spaced">Healthcare Innovators: Leadership Gallery</h4> -->
                                <h1 class="headline-3">Rethinking Healthcare Technology</h1>
                            </div>
                            <p class="">
                                <script src="https://fast.wistia.com/embed/medias/ckf2qzc1fp.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.0% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_ckf2qzc1fp seo=false videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
                            </p>
                            <p class="lead">Thank you for joining us to examine ways of rethinking healthcare technology. We’re hoping to provide you with a host of expansive, useful, and original insights about the complicated and multi-dimensional effort of digital transformation and innovation in the healthcare environment.
                            <p class="lead">We are honored to have such an experienced and illustrious set of contributors; we hope you learn as much from them as we have at Datica.</p>
                            <%#= person_widget("travis") %>
                            <p class="content-dynamic">Get started with the first article by <a href="#" title="read the first article by Marc Chasin, MD" onclick="$('#lg-nav--tabs').foundation('selectTab', '#marc-chasin');">Marc Chasin <i class="fa fa-angle-right" aria-hidden="true"></i></a></p>
                        </div>
                        <% sorted_entries.each do | id, entry | %>
                        <div id="<%= entry["person_leader"]["slug"] %>" class="tabs-panel lg-entry group">
                            <h2 class="headline-3"><%= entry["title"] %></h2>
                            <%= partial("partials/snippets/person", :locals => { :p => entry["person_leader"] }) %>
                            <% if entry.has_key?("lead") %>
                                <div class="lead"><%= Kramdown::Document.new(entry["lead"]).to_html %></div>
                            <% end %>

                            <% if entry.has_key?("post") %>
                                <div class="hyphenate group">
                                    <%= Kramdown::Document.new(entry["post"]).to_html %>
                                </div>
                                <%= partial "/partials/snippets/share", :locals => { :classes => "show-for-medium group" }  %>
                                <div class="callout callout--gray-light group lg-leader">
                                    <%= partial("partials/snippets/person", :locals => { :p => entry["person_leader"] }) %>
                                    <% if entry["person_leader"].has_key?("bio_short") %>
                                        <em><%= Kramdown::Document.new(entry["person_leader"]["bio_short"]).to_html %></em>
                                    <% end %>
                                </div>
                                <div class="group">
                                    <% next_item = get_next_item(sorted_entries, entry, "title") %>
                                    <% if next_item != nil %>
                                        <div class="subhead--small text--spaced">Next</div>
                                        <p class="content-dynamic"><a href="#" title="Read the next article by <%= next_item["person_leader"]["fullname"] %>" onclick="$('#lg-nav--tabs').foundation('selectTab', '#<%= next_item["person_leader"]["slug"] %>');"><%= next_item["title"] %> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                            <br><em><%= next_item["person_leader"]["fullname"] %></em>
                                        </p>
                                    <% else %>
                                        <div class="waypoint">
                                            <div class="waypoint-title subhead--small">Get your free Innovation Report</div>
                                            <a href="#cta" class="pulse" title="Learn more" data-smooth-scroll data-animation-duration="200" data-animation-easing="swing">
                                                <i class="waypoint-icon fa fa-icon fa-4x fa-angle-down"></i>
                                            </a>
                                        </div>
                                    <% end %>
                                </div>
                                

                            <% end %>
                            <% if entry.has_key?("dhsf_ref") %>
                                <div class="callout callout--dark">
                                     <span class="pub_date spaced-out">Digital Health Success Framework</span>
                                    <%= Kramdown::Document.new(entry["dhsf_ref"]).to_html %>
                                </div>
                            <% end %>
                            <!-- <a href="#content" class="">Back to top <i class="fa fa-angle-up" aria-hidden="true"></i></a> -->
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebar-nav" class="columns small-12 medium-5 large-4 container-gray-3">
            <ul id="lg-nav--tabs" class="vertical tabs group" data-tabs> <!-- data-deep-link="true" data-update-history="false" data-deep-link-smudge="true" data-deep-link-smudge="500" -->
                <li id="tab-intro" class="tabs-title lg-nav--item is-active" aria-selected="true">
                    <a href="#intro" title="Introduction">
                        <div class="lg-nav--item__leader">
                            <div class="media-object card-person">
                                <div class="media-object-section media-object--avatar"><img src="//images.ctfassets.net/189dvqdsjh46/yDosmOKtaKaeqgYWQoASy/a73851375766f82f4f24922b57e6caf2/prof-travis.jpg?f=face&amp;fit=thumb&amp;w=250&amp;q=45" class="avatar avatar--large circle" alt="Travis Good, MD"></div>
                                <div class="media-object-section media-object--info main-section align-self-middle">
                                    <h3 class="headline-5">Introduction</h3>
                                    <h4 class="person-name">
                                        Travis Good, MD
                                    </h4>
                                    <p class="person-title">Co-founder, CEO &amp; Chief Privacy Officer</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <% sorted_entries.each do | index, entry | %>
                    <li id="tab-<%= entry["person_leader"]["slug"] %>" class="tabs-title lg-nav--item<% if sorted_entries[0][0] == index %> is-first<%end%>">
                        <a href="#<%= entry["person_leader"]["slug"] %>" title="<%= entry["summary"] %>">
                            <div class="media-object card-person">
                                <% if entry["person_leader"].has_key?("profile_pic") %>
                                    <div class="media-object-section media-object--avatar"><img src="<%= entry["person_leader"]["profile_pic"]["url"] %>?f=face&fit=thumb&w=128&h=128&fm=jpg&q=60" class="avatar avatar--large circle" alt="<%= entry["person_leader"]["fullname"] %>"></div>
                                <% end %>
                                <div class="media-object-section media-object--info main-section align-self-middle">
                                    <h3 class="headline-5"><%= entry["title"] %></h3>
                                    <h4 class="person-name">
                                        <%= entry["person_leader"]["fullname"] %>
                                    </h4>
                                    <% if entry["person_leader"].has_key?("role") %>
                                        <p class="person-title text-small faded"><%= entry["person_leader"]["role"] %></p>
                                    <% end %>
                                </div>
                            </div>

                        </a>
                    </li>
                <% end %>

            </ul>
            <div class="mobile-toc container-gray-3 hide-for-medium">
                <p class="mobile-toc--headline">
                    <a href="#tab-intro" class="link--white" onclick="scrollToId('#sidebar-nav');">Table of Contents <i class="fa fa-angle-up" id="toggle-arrow"></i></a>
                </p>
            </div>
            <aside class="row banner-group">
                <div class="columns">
                    <div class="callout--article container-color--dark group">
                        <a class="callout--article-link" href="/innovation" title="Innovation">
                            <div class="callout--article-content">
                                <div class="subheader-small">Discover</div>
                                <h3 class="headline-4">Healthcare Innovators <i class="callout--article-action fa fa-arrow-circle-right"></i></h3>
                                    <div class="callout--article-body">
                                        <p>Rapid innovation in technology and data is transforming healthcare before our very eyes. This compilation of ideas and resources on healthcare innovation will help you be in the know.</p>
                                    </div>
                            </div>
                            <div class="callout--article-image container-image--center" data-interchange="[//images.ctfassets.net/189dvqdsjh46/3gflDVmPuoecamYsY6OOSI/90c46d15b8af71129e3612ac010c0574/city_blurry_bokeh_chuttersnap-179223.jpg?fit=scale&w=300&h=150&q=30, small], [//images.ctfassets.net/189dvqdsjh46/3gflDVmPuoecamYsY6OOSI/90c46d15b8af71129e3612ac010c0574/city_blurry_bokeh_chuttersnap-179223.jpg?fit=scale&w=400&h=200&q=45, medium]" style="background-image: url(//images.ctfassets.net/189dvqdsjh46/3gflDVmPuoecamYsY6OOSI/90c46d15b8af71129e3612ac010c0574/city_blurry_bokeh_chuttersnap-179223.jpg?fit=scale&w=400&h=200&q=45);"></div>
                        </a>
                    </div>
                    <hr class="content">
                    <%= partial "blog/partials/blog-subscription", :locals => { :color => "dark" } %>
                </div>
            </aside>
        </div>
    </div>

</section>

<%= partial "partials/section-promos/report-promo-latest" %>
