<%
unless defined?(datican) && datican == true
	datican = false
end
%>


<% if entry.has_key?("profile_twitter") %>
    <li><a href="http://twitter.com/<%= entry["profile_twitter"]%>" title="Connect with <%= entry["fullname"]%> via Twitter"><%= inline_svg("small/icon-ui-twitter", class: "icon-inline") %> @<%= entry["profile_twitter"]%></a></li>
<% end %>
<% if entry.has_key?("profile_linkedin") %>
    <li><a href="http://linkedin.com/in/<%= entry["profile_linkedin"] %>" title="Connect with <%= entry["fullname"] %> via Linkedin"><%= inline_svg("small/icon-ui-linkedin", class: "icon-inline") %> LinkedIn</a></li>
<% end %>

