---
title: "Subscribe to the Datica Blog"
summary: "Get the latest updates from the Datica Blog and more — insights from the team behind healthcare's trusted cloud"
author: "Datica, Inc."
tags: "healthcare, blogs, email, newsletter, HIPAA, HITRUST, certification, hosting"
date: "April 3, 2017"
share_image: "https://images.ctfassets.net/189dvqdsjh46/3Ll0a3gLi8wKG8A84mUokm/fabae03bd9e4da4e60173d4c2fe89a30/blog-share-default.png"
header: "Subscribe to the Datica Blog"
subheader: "Insights from the team behind healthcare's trusted cloud"
layout: basic
---
<div class="container-color--purple-grad-noise">
    <%= partial "partials/head/header", :locals => { :style => "light" } %>
    <section class="section-article">
        <div class="row align-center">
            <div class="columns small-12 large-8">
                <div class="group text-center">
                    <h1 class="headline-2 nomargin"><%= current_page.data.header %></h1>
                    <% if current_page.data.has_key?("subheader") %>
                        <p class="lead faded"><%= current_page.data.subheader %></p>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="row align-center">
            <div class="columns small-12 medium-8 large-6">
                <%= partial "blog/partials/blog-subscription", :locals => { :color => "gray" } %>
            </div>
        </div>
        <div class="row align-center">
            <div class="columns small-12 large-9">
                <h3 class="headline-2 text-center group--2x">Recent Blog Posts</h3>
            </div>
        </div>
        <div class="masonry-group">
            <% sorted_posts = data.site.blog.to_a.sort_by{ |id, post| post['pub_date'] }.reverse! %>
            <% sorted_posts[0...4].each do | id, post | %>
                <aside class="masonry-group--item">
                    <%= partial "partials/cards/featured-blog", :locals => { :post => post, :style => "light", :size => "small" } %>
                </aside>
            <% end %>
        </div>
    </section>


</div>
