---
header: "The Healthcare Innovators Podcast"
subheader: "How does healthcare innovate? Datica explores this topic in a new series of interviews with several of the industry's top thinkers and doers. Follow along with us as we uncover insights to catalyzing change in healthcare."
ogType: article
layout: "basic"
customJS: "/public/js/contents.js, /public/js/smooth-scroll.js, /public/js/article.js"
---
<% p = locals[:item]

current_page.data.title = p["title"] + " | The Datica Academy"
current_page.data.summary = safe_summary(p.summary)
current_page.data.share_image = "https://images.ctfassets.net/189dvqdsjh46/NL2SgI83KesMS86cWO44y/e908972bb9193eec594b639881e25e6f/academy-share-default.jpg?w=800"

if p.has_key?("tags")
    current_page.data.tags = get_tag_list(p["tags"])
else
    current_page.data.tags = "healthcare, blog, IT"
end
if p.has_key?("author")
    current_page.data.author = p["author"]["fullname"]
else
    current_page.data.author = "Datica, Inc."
end
if p.has_key?("pub_date")
    current_page.data.date = p['pub_date'].strftime('%B %-d, %Y')
else
    current_page.data.date = "2017"
end
%>
<style type="text/css">
    #article-body h2 a, h3 a {color: #252828;}
    #article-body h2 a {font-weight: 400;}
</style>
<div class="container-color--gray-light">
    <%= partial "partials/snippets/header", :locals => { :style => "dark" } %>
    <section class="section-article">
        <div class="row">
            <div class="columns small-12 medium-8 featured-post">
                <h1 class="headline-2"><%= p["title"] %></h1>
                <% if p.has_key?("author") %>
                    <%= partial("partials/snippets/person", :locals => { :p => p["author"] }) %>
                <% end %>
                <p class="lead">
                    <%= partial "/partials/snippets/pubdate", :locals => p %>
                    <% if p.has_key?("tags") %>
                        &nbsp;|&nbsp;
                        <%= partial "/partials/content/tags", :locals => p %>
                    <% end %>
                </p>
            </div>
        </div>
    </section>
</div>
<section class="section-article container-color--white">
    <div class="row">
        <div class="columns small-12 large-8">
            <article id="content">
                <% if p.has_key?("lead") %>
                    <div class="lead"> <%= Kramdown::Document.new(p["lead"]).to_html %></div>
                <% end %>
                <div id="article-toc" class="group"></div>
                <div id="article-body" class="content-dynamic">
                <%= Kramdown::Document.new(p["post"]).to_html %>
                </div>
            </article>
            <%= partial "/partials/snippets/share", :locals => { :p => p, :classes => "group" }  %>
            <% if p.has_key?("cta_ref") %>
                <%= partial("/partials/content/cta", :locals => { :p => p["cta_ref"] }) %>
            <% end %>
        </div>
        <div class="columns small-12 large-4 section--sidebar" data-sticky-container>
            <div class="sticky" data-sticky data-sticky-on="large" data-options="anchor: content;">
                <%= partial "partials/ctas/resources-compact", :locals => { :classes => "group" } %>
                <% if p.has_key?("discovery_topic") %>
                    <%= partial "partials/cards/discover", :locals => { :post => p["discovery_topic"], :classes => "group" } %>
                    <% if p.discovery_topic.slug == "ehr-integrations" %>
                        <%= partial "partials/ctas/ad-webinar" %>
                    <% end %>
                <% end %>
                <hr class="content">
                <aside class="callout callout--gray-light group content-dynamic">
                    <% if p.has_key?("related_entries") %>
                        <h4 class="headline-5 text--spaced text-center">Related Articles</h4>
                        <ul class="no-bullet">
                            <% p["related_entries"].each do | relatedPost | %>
                            <% 
                            # mapping content type to paths. How could this be a ruby helper or function?
                            url_segment = case relatedPost._meta.content_type_id
                                when "podcastEntry" then "innovation"
                                when "pressRelease" then "press-release"
                                else relatedPost._meta.content_type_id
                            end
                            related_post_path = "/" + url_segment + "/" + relatedPost.slug 
                            %>
                            <% if relatedPost.has_key?("title") %>
                                <li class="">
                                    <a href="<%= related_post_path %>" title="Read this post"><%= relatedPost["title"] %></a>
                                    <% if relatedPost.has_key?("summary") %>
                                    <div class="text-smaller"><%= Kramdown::Document.new(relatedPost["summary"]).to_html %></div>
                                    <% end %>
                                </li>
                            <% end %>
                            <% end %>
                        </ul>
                    <% end %>
                    <a class="button hollow" href="/academy" title="All Academy Articles"><i class="fa fa-angle-left"></i> See all Academy articles</a>
                </aside>                
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    // create TOC from content scan
    document.addEventListener('DOMContentLoaded', function () {
        var link,
            contents,
            eventEmitter;        
        var contents = gajus.Contents({
            articles: $('#content').find('h2, h3').get()
        });
        eventEmitter = contents.eventEmitter();

        $('#article-toc').append('<hr><p class="subheader-small">In This Article</p>');
        $('#article-toc').append(contents.list());
        $('#article-toc').append('<hr>');
        // $('#article-toc').addClass('group');
    });
</script>