---
layout: basic
customCSS: "blog"
ogType: article
customJS: "/public/js/article.js"
---
<% p = locals[:item]
current_page.data.title = p["title"] + " | Datica Blog"
current_page.data.summary = safe_summary(p.summary)

share_image_fallback = "https://images.ctfassets.net/189dvqdsjh46/3Ll0a3gLi8wKG8A84mUokm/fabae03bd9e4da4e60173d4c2fe89a30/blog-share-default.png"

if p.has_key?("featured_image")
    post_featured_image = cf_asset_protocol + p["featured_image"]["url"]
    post_featured_image_title = p["featured_image"]["title"]
else
    post_featured_image = "https://images.ctfassets.net/189dvqdsjh46/3gflDVmPuoecamYsY6OOSI/90c46d15b8af71129e3612ac010c0574/city_blurry_bokeh_chuttersnap-179223.jpg"
    post_featured_image_title = "Datica Blog"
end

if p.has_key?("share_image")
    current_page.data.share_image = cf_asset_protocol + p["share_image"]["url"] + image_size_small
elsif p.has_key?("featured_image")
    current_page.data.share_image = cf_asset_protocol + p["featured_image"]["url"] + image_size_small
else
    current_page.data.share_image = share_image_fallback
end

if p.has_key?("tags")
    current_page.data.tags = get_tag_list(p["tags"])
else
    current_page.data.tags = "healthcare, blog, IT"
end
if p.has_key?("author")
    current_page.data.author = p["author"]["fullname"]
else
    current_page.data.author = "Datica, Inc."
end
if p.has_key?("pub_date")
    current_page.data.date = p['pub_date'].strftime('%B %-d, %Y')
else
    current_page.data.date = "2017"
end
%>
<div class="container-color--dark-alt">
    <%= partial "partials/snippets/header", :locals => { :style => "light" } %>
    <section class="custom-sticky custom-sticky--dark show-for-large">
        <div class="row">
            <div class="columns small-12 medium-12">
                <ul>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/leadership">Leadership</a></li>
                    <li><a href="/blog" class="active">Company Blog</a></li>
                    <li><a href="https://help.datica.com/hc/en-us/sections/115001646346-Engineering-Blog">Engineering Blog</a></li>
                    <li><a href="/careers">Careers</a></li>
                    <li><a href="/press">Press</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/open-source">Open Source</a></li>
                </ul>
            </div>
        </div>
    </section>
        <div class="container-image--center" data-interchange="[<%= post_featured_image + image_featured_small %>, small], [<%= post_featured_image + image_featured_large %>, medium]">
        <section class="section-article container-color--tint-50">
            <div class="row">
                <div class="columns small-12 large-10 featured-post link--white-parent">
                    <div class="subhead--spaced headline-6">Datica Blog</div>
                    <h1 class="headline-2 headline-bold"><%= p["title"] %></h1>
                    <% if p["author"].has_key?("profile_pic") %>
                        <%= partial("partials/snippets/person", :locals => { :p => p["author"] }) %>
                    <% end %>
                    <%= partial "/partials/snippets/pubdate", :locals => p %>
                    <% if p.has_key?("tags") %>
                        &nbsp; <%= partial "/partials/content/tags", :locals => p %>
                    <% end %>
                </div>
            </div>
        </section>
    </div>
</div>
<section class="section-article">
    <div class="row">
        <div id="blogPost" class="columns small-12 large-8">
            <article class="content-dynamic">
                <%= partial "/partials/snippets/share", :locals => { :p => p, :classes => "show-for-xlarge vertical" }  %>
                <% if p.has_key?("blog_lead") %>
                    <div class="lead"><%= Kramdown::Document.new(p["blog_lead"]).to_html %></div>
                <% end %>
                <div class="section--body blog-post-content group">
                    <% if p.has_key?("featured_person") %>
                        <%= partial("partials/snippets/person-vertical-simple", :locals => { :p => p["featured_person"], :classes => "float-right-on-medium" }) %>
                    <% end %>
                    <%= Kramdown::Document.new(p["post"]).to_html %>
                </div>
            </article>
            <% if p.has_key?("cta_ref") %>
                <%= partial("/partials/content/cta", :locals => { :p => p["cta_ref"] }) %>
            <% end %>
            <div class="callout callout--gray-light">
                <div class="row row--gutter-small">
                    <div class="columns small-12 medium-6 large-6">
                        <% previous_item = get_previous_item(data.site.blog, p, "pub_date") %>
                        <% if previous_item != nil %>
                            <p class="blog-date">Earlier</p>
                            <h4 class="headline-5"><a href="/blog/<%= previous_item["slug"] %>" title="Read this post" rel="prev"><%= previous_item["title"] %></a></h4>
                            <% if previous_item.has_key?("summary") %>
                                <div class="text-smaller">
                                    <%= Kramdown::Document.new(previous_item["summary"]).to_html %>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                    <div class="columns small-12 medium-6 large-6">
                        <% next_item = get_next_item(data.site.blog, p, "pub_date") %>
                        <% if next_item != nil %>
                            <p class="blog-date">Next Post</p>
                            <h4 class="headline-5"><a href="/blog/<%= next_item["slug"] %>" title="Read this post" rel="next"><%= next_item["title"] %></a></h4>
                            <% if next_item.has_key?("summary") %>
                                <div class="text-smaller">
                                    <%= Kramdown::Document.new(next_item["summary"]).to_html %>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <aside class="columns small-12 large-4 section--sidebar" data-sticky-container>
            <div class="sticky" data-sticky data-options="anchor: blogPost; stickyOn: xlarge;">
                <%= partial "/partials/snippets/share", :locals => { :p => p, :classes => "align-center hide-for-xlarge" }  %>

                <%= partial "blog/partials/blog-subscription", :locals => { :color => "dark" } %>
                <% if p.has_key?("discovery_topic") && p["discovery_topic"].has_key?("_meta") %>
                    <%= partial "partials/cards/discover", :locals => { :post => p["discovery_topic"], :classes => "group" } %>
                    <% if p.discovery_topic.slug == "ehr-integrations" %>
                        <%= partial "partials/ctas/ad-webinar" %>
                    <% end %>
                <% end %>
                <% if p.has_key?("related_entries") && p["related_entries"].count == 1 %>
                    <%# <h4 class="headline-5 text--spaced text-center">Related</h4> %>
                    <% p["related_entries"].take(1).each do | relatedPost | %>
                        <%= partial "partials/cards/featured-blog", :locals => { :post => relatedPost, :style => "light", :size => "small" } %>
                    <% end %>
                <% end %>
            </div>
        </aside>
    </div>
</section>
<% if p.has_key?("related_entries") && p["related_entries"].count > 1 %>
    <section class="section-article--med container-gray-10">
        <h4 class="headline-5 text--spaced text-center group">Related</h4>
        <div class="row full-width small-up-1 medium-up-2 large-up-3 xxlarge-up-4 align-center">
            <% p["related_entries"].each do | relatedPost | %>
            <% 
            # mapping content type to paths. How could this be a ruby helper or function?
            #url_segment = case relatedPost._meta.content_type_id
            #    when "podcastEntry" then "innovation"
            #    when "pressRelease" then "press-release"
            #    else relatedPost._meta.content_type_id
            #end
            #related_post_path = "/" + url_segment + "/" + relatedPost.slug 
            %>
                <div class="column">
                    <%= partial "partials/cards/featured-blog", :locals => { :post => relatedPost, :style => "light", :size => "small" } %>
                </div>
            <% end %>
        </div>
    </section>
<% end %>

<%# this script injects an alignment class in embedded tweets onDOMready.%>
<%= partial "partials/content/tweet-styling" %>