---
layout: "basic"
customCSS: "customers"
---
<% p = locals[:item]
current_page.data.title = p["company_name"] + " | Datica Customer Profile"
if p.has_key?("customer_story_short")
    current_page.data.summary = safe_summary(p.customer_story_short)
else
    current_page.data.summary = current_page.data.title
end
if p.has_key?("featured_image")
    current_page.data.share_image = cf_asset_protocol + p["featured_image"]["url"] + image_size_small
else
    current_page.data.share_image = site_url + "/public/img/customer-logos/" + p["slug"] + "-logo.png"
end
if p.has_key?("tags")
    current_page.data.tags = get_tag_list(p["tags"])
else
    current_page.data.tags = "healthcare, blog, IT"
end
if p.has_key?("author")
    current_page.data.author = p["author"]["fullname"]
else
    current_page.data.author = "Datica, Inc."
end
if p.has_key?("pub_date")
    current_page.data.date = p['pub_date'].strftime('%B %-d, %Y')
else
    current_page.data.date = "Januray 1, 2017"
end
%>
<div class="container-gray-12">
    <%= partial "partials/head/header", :locals => { :style => "dark" } %>

<section class="section-article">
    <article class="content-static">
    <div class="row align-center">
        <div class="columns small-12 large-8">
            <div class="logo-header-group text-center">
                <img class="logo-header-image" src="/public/img/customer-logos/<%= p["slug"] %>-logo.png" alt="<%= p["company_name"] %> Logo"/>
                <% if p.has_key?("case_study") %>
                    <h2 class="logo-header-title logo-header-title--combo" id="case-study">Datica Case Study</h2>
                <% elsif p.has_key?("customer_spotlight") && p.has_key?("case_study") == false %>
                    <h2 class="logo-header-title logo-header-title--combo" id="spotlight">Datica Customer Spotlight</h2>
                <% else %>
                    <h2 class="logo-header-title logo-header-title--combo" id="customer-profile">Datica Customer Profile</h2>
                <% end %>
            </div>
        </div>
    </div><!-- END row align-center-->
    <% if p.has_key?("case_study") %>
        <div class="row align-center">
            <div class="columns small-12 large-10 group">
                <h1 class="headline-2 text-center" id="case_study"><%= p["case_study"]["case_study_title"] %></h1>
            </div>
        </div><!-- END row -->
        <div class="row align-center group--2x">
            <div class="columns small-12 large-6">
                <% if p["case_study"].has_key?("body") %>
                    <div class="group">
                        <%= Kramdown::Document.new(p["case_study"]["body"]).to_html %>
                    </div>
                <% end %>
                <% if p["case_study"].has_key?("media_object") %>
                    <div class="group">
                        <%= p["case_study"]["media_object"] %>
                    </div>
                <% end %>
                <% if p["case_study"].has_key?("customer_quote") %>
                    <div class="callout callout--gray-light">
                        <blockquote class="quote--serif">
                            <%= p["case_study"]["customer_quote"]["quote_body"] %>
                        </blockquote>
                        <% if p.has_key?("profile_pic") %>
                        <%= partial("partials/snippets/person", :locals => { :p => p }) %>
                        <% end %>
                    </div>
                <% end %>
            </div><!-- END columns -->
            <div class="columns small-12 large-6">
            <% if p["case_study"].has_key?("related_form") %>
                <div class="callout callout--large drop">
                    <h3 class="headline-4 text-center group">Read the Case Study</h3>
                    <%= partial "partials/snippets/form", :locals => { :the_form => p["case_study"]["related_form"]["custom_form"] } %>
                </div>
            <% end %>
            </div>
        </div><!-- END row -->
    <% end %><!-- END if #p.has_key?("case_study") -->
    </article>
    <article class="content-dynamic">
    <% if p.has_key?("customer_spotlight") %>
        <div class="row align-center">
            <div class="columns small-12 large-8">
                <% if p.has_key?("case_study") %>
                    <h3 class="headline-5 subhead--spaced" id="spotlight">Datica Customer Spotlight</h3>
                <% end %>
                <h1 class="headline-2"><%= p["customer_spotlight"]["title"] %></h1>
                <div class="lead spotlight--lead">
                    <%= Kramdown::Document.new(p["customer_spotlight"]["lead"]).to_html %>
                </div>
            </div>
        </div><!-- END row -->
        <div class="row align-center spotlight--body">
            <div class="columns small-12 large-8">
                <% if p["customer_spotlight"].has_key?("postTop") %>
                    <%= Kramdown::Document.new(p["customer_spotlight"]["postTop"]).to_html %>
                <% end %>

                <% if p.has_key?("customer_quote")
                    # for spotlights, only customer entries can contain the quote, for now. No quotes inside spotlights, CF is not parsing the depth correctly. - AW
                %>
                    <div class="callout callout--quote">
                        <blockquote class="quote-medium">
                            <!-- customer-entry quote -->
                            <%= p["customer_quote"]["quote_body"] %>
                        </blockquote>
                        <% if p.has_key?("profile_pic") %>
                        <%= partial("partials/snippets/person", :locals => { :p => p }) %>
                            
                        <% end %>
                    </div><!-- END callout -->
                <% end %>
                <div class="group">
                    <%= Kramdown::Document.new(p["customer_spotlight"]["post_bottom"]).to_html %>
                </div>
            </div><!-- END columns -->
        </div><!-- END row -->
    <% end %>
    <% if !p.has_key?("customer_spotlight") && !p.has_key?("case_study") %>
    <div class="row align-center">
        <div class="columns small-12 medium-6">
            <% if p.has_key?("customer_quote") %>
                <div class="callout drop">
                    <blockquote class="quote">
                        <%= p["customer_quote"]["quote_body"] %>
                    </blockquote>
                </div>
            <% end %>
            <% if p.has_key?("profile_pic") %>
                <div class="callout callout--gray-light">
                    <div class="media-object card-person">
                        <%= partial("partials/snippets/person", :locals => { :p => p }) %>

                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <% end %>
    </article>

    <div class="row align-center" id="pageNav">
        <div class="columns small-12">
            <div class="menu button-group align-center">
                <% filtered_customers = data.site.customers.select{ |id, customer| (customer.has_key?("case_study") || customer.has_key?("customer_spotlight")) } %>
                <% previous_item = get_previous_item(filtered_customers, p, "company_name") %>
                <%= partial "partials/snippets/button", :locals => { :label => "Customer Success", :title => "Datica Customer Proof - See All", :url => "/customers/", :button_classes => "medium-order-2 button hollow hollow-invisible", :icon => "icon-chevron-up", :icon_align => "right", :icon_color => "blue", :rel => "prev" } %>
                <% if previous_item != nil %>
                    <%= partial "partials/snippets/button", :locals => { :label => "#{previous_item.company_name}", :title => "View Previous Profile", :url => "/customer/#{previous_item.slug}", :button_classes => "medium-order-1 button hollow", :icon => "icon-chevron-left", :icon_align => "left", :icon_color => "blue" } %>
                <% end %>
                <% next_item = get_next_item(filtered_customers, p, "company_name") %>
                <% if next_item != nil %>
                    <%= partial "partials/snippets/button", :locals => { :label => "#{next_item.company_name}", :title => "View Next Profile", :url => "/customer/#{next_item.slug}", :button_classes => "medium-order-3 button", :icon => "icon-chevron-right", :icon_align => "right", :icon_color => "white", :rel => "next" } %>

<!--                         <a href="/customer/<%= next_item["slug"] %>" title="View Next Profile" class="button <% if !p.has_key?("customer_spotlight") && p.has_key?("case_study") %>button--light<% else %>button--primary<% end %> expanded">
                            Next: <%= next_item["company_name"] %> <i class="fa fa-angle-right"></i>
                        </a> -->
                <% end %>
            </div>
        </div>
    </div>
</section>
</div>