---
layout: company
ogType: article
sharer: true
---
<%
p = locals[:item]
current_page.data.title = p["title"] + " | Datica Events"
current_page.data.summary = safe_summary(p.summary)
share_image_fallback = "https://images.ctfassets.net/189dvqdsjh46/2HzxmY3I4ESUU6ICM0ge0Y/f5ed3801dfe3328ec1ee09ea83434ba6/events-share-default.jpg"

if p.has_key?("share_image")
    current_page.data.share_image = cf_asset_protocol + p["share_image"]["url"] + image_share
elsif p.has_key?("featured_image")
    current_page.data.share_image = cf_asset_protocol + p["featured_image"]["url"] + image_share
else
    current_page.data.share_image = share_image_fallback
end

current_page.data.tags = "events, conferences, presentations"
if p.has_key?("author")
    current_page.data.author = p["event_related_people"]["fullname"]
else
    current_page.data.author = "Datica, Inc."
end
if p.has_key?("date_start")
    current_page.data.date = p['date_start'].strftime('%B %-d, %Y')
else
    current_page.data.date = DateTime.now.strftime('%B %-d, %Y')
end
%>

<section class="section-article container-color--gray-light">
    <div class="row align-center">
        <div class="columns small-12 large-10">
            <%= partial "partials/content/event", :locals => { :event => p, :level => 1 } %>
            <% if p.has_key?("cta_ref") %>
                <% if p["cta_ref"].has_key?("custom_form") %>
                <div class="row collapse" style="margin-top: 1.5rem;">
                    <div class="columns small-12 medium-10 large-7">
                        <div class="callout callout--large drop">
                            <% if p["cta_ref"].has_key?("title") %>
                                <h2 class="headline-4"><%= p.cta_ref.title %></h2>
                                <hr class="divider" />
                            <% end %>
                            <% if p["cta_ref"].has_key?("desc") %><%= Kramdown::Document.new(p["cta_ref"]["desc"]).to_html %><% end %>
                            <%= partial "partials/snippets/form", :locals => { :the_form => p["cta_ref"]["custom_form"] }
                              %>
                            <%#= p.cta_ref.custom_form %>
                        </div>
                    </div>
                </div>
                <% else %>
                    <%= partial("/partials/content/cta", :locals => { :p => p["cta_ref"] }) %>
                <% end %>
            <% end %>
        </div>
    </div>
</section>
