---
layout: basic
customCSS: guide
ogType: article
---
<% p = locals[:item]
current_page.data.title = p["title"] + " | Datica Guide"
current_page.data.summary = safe_summary(p.summary)
if p.has_key?("featured_image")
    current_page.data.share_image = cf_asset_protocol + p["featured_image"]["url"] + image_size_small
end
if p.has_key?("tags")
    current_page.data.tags = get_tag_list(p["tags"])
else
    current_page.data.tags = "healthcare, blog, IT"
end
if p.has_key?("author")
    current_page.data.author = p["author"]["fullname"]
else
    current_page.data.author = "Datica, Inc."
end
if p.has_key?("pub_date")
    current_page.data.date = p['pub_date'].strftime('%B %-d, %Y')
else
    current_page.data.date = "January 1, 2017"
end
%>
<div class="container-color--dark-alt">
    <div class="container-color--tint-20">
        <%= partial "partials/snippets/header", :locals => { :style => "light" } %>
    </div>
    <section class="section-article">
        <div class="row align-middle">
            <header class="columns small-12 medium-8">
                <div class="subhead--spaced faded headline-5">Datica Guides</div>
                <h1 class="headline-2"><%= p["title"] %></h1>
            </header>
            <div class="columns small-12 medium-4">
                <% if p.has_key?("featured_image") %>
                    <img data-interchange="[<%= p["featured_image"]["url"] %>?w=300, small], [<%= p["featured_image"]["url"] %>?w=500, medium]" alt="Datica Guide: <%= p["title"] %>" />
                <% end %>
            </div>
        </div>
    </section>
</div>
<section class="section-article container-gray-12">
    <% if p.has_key?("subhead") %>
        <div class="row">
            <div class="columns small-12 large-10">
                <h2 class="headline-3"><%= p["subhead"] %></h2>
            </div>
        </div>
    <% end %>
    <div class="row align-middle">
        <div class="columns small-12 medium-7 large-6">
            <% if p.has_key?("desc") %>
                <article class="content-dynamic">
                <%= Kramdown::Document.new(p["desc"]).to_html %>
                </article>
            <% end %>
        </div>
        <% if p.has_key?("authors") %>
            <aside class="columns small-12 medium-5 large-4 section--sidebar">
                <div class="callout drop">
                    <div class="subhead--spaced faded headline-5 text-center group--sm">With expert authors</div>
                    <% p["authors"].each do |author| %>
                        <p><%= partial("partials/snippets/person", :locals => { :p => author }) %></p>
                    <% end %>
                </div>
            </aside>
        <% end %>
    </div>
</section>
<section class="section-article container-color--blue-alt">
    <div class="row align-center">
        <div class="columns small-12 medium-7 large-6 large-order-2 form-embed">
            <div class="callout callout--large drop">
                <% if p.has_key?("related_form") %>
                    <%= stylesheet_link_tag "views/forms-inline.css" %>
                    <h3 class="headline-4 text-center group"><%= p.title %></h3>
                    <%= p.related_form.custom_form %>
                <% elsif p.has_key?("form_id") %>
                    <h3 class="headline-4 text-center group">Get your copy of the guide</h3>
                    <%= partial("partials/snippets/form-hubspot", :locals => { :form_id => p["form_id"] }) %>
                <% end %>
            </div>
        </div>
        <div class="columns small-12 medium-5 large-6 large-order-1">
            <div class="callout callout--dark-alpha">
                <% if p.has_key?("guide_text") %>
                    <article class="content-dynamic">
                        <%= Kramdown::Document.new(p["guide_text"]).to_html %>
                    </article>
                <% end %>
                <% if p.has_key?("cta_ref") %>
                    <%= partial("/partials/content/cta", :locals => { :p => p["cta_ref"] }) %>
                <% end %>
            </div>
        </div>
    </div>
</section>
