---
layout: basic
customCSS: guide
ogType: article
---
<% p = locals[:item]
current_page.data.title = p["title"] + " | Datica Guide"
current_page.data.summary = safe_summary(p.summary)
if p.has_key?("share_image")
    current_page.data.share_image = cf_asset_protocol + p["share_image"]["url"] + image_size_small
end


if p.has_key?("tags")
    current_page.data.tags = get_tag_list(p["tags"])
else
    current_page.data.tags = "healthcare, blog, IT"
end
if p.has_key?("author")
    current_page.data.author = p["author"]["fullname"]
else
    current_page.data.author = "Datica, Inc."
end
if p.has_key?("pub_date")
    current_page.data.date = p['pub_date'].strftime('%B %-d, %Y')
else
    current_page.data.date = "January 1, 2017"
end

# unless report.has_key?("accent_color")
#     accent_color = "container-color--blue-alt"
# end
# unless report.has_key?("container_color")
#    container_color = "container-gray-11"
# end
# if report.has_key?("bg_image")
#    bg_snippet = %(class="section-article--sm container-image--center #{container_color}" data-interchange="[#{bg_image.url}?fit=thumb&w1200&h=80, small]")
# else
#    bg_snippet = %(class="section-article #{accent_color}")
# end
%>
<div class="container-color--dark-alt">
    <div class="container-color--tint-20">
        <%= partial "partials/snippets/header", :locals => { :style => "light" } %>
    </div>

    <section class="section-article pad-no-bottom">

        <div class="row align-middle">
            <div class="columns small-12 medium-8">
                <div class="subhead--spaced faded headline-5">Datica Innovation Reports</div>
                <h1 class="headline-2"><%= p["title"] %></h1>
            </div>
            <div class="columns small-12 medium-4">
                <% if p.has_key?("image_thumb") %>
                    <img data-interchange="[<%= p["image_thumb"]["url"] %>?w=400, small], [<%= p["image_thumb"]["url"] %>?w=800, medium]" alt="Datica Guide: <%= p["title"] %>" />
                <% end %>
            </div>
        </div>
    </section>
</div>
<section class="section-article container-gray-12">
    <% if p.has_key?("subhead") %>
        <div class="row">
            <div class="columns small-12 large-10">
                <h2 class="headline-3 group"><%= p["subhead"] %></h2>
            </div>
        </div>
    <% end %>
    <div class="row">
        <div class="columns small-12 medium-5 large-6 large-order-2">
            <% if p.has_key?("form_id") %>
                <div class="callout callout--large drop group">
                    <h3 class="headline-4 text-center group">Get your free innovation report</h3>
                    <%= partial("partials/snippets/form-hubspot", :locals => { :form_id => p["form_id"] }) %>
                </div>
            <% end %>
             <% if p.has_key?("authors") && p["authors"].count > 1 %>
                
                    <div class="subhead--spaced faded headline-5 text-center group--sm"><% if p["authors"].count > 1 %>With expert authors<% else %>Datica expert<% end %></div>
                    <% p["authors"].each do |author| %>
                        <p><%= partial("partials/snippets/person", :locals => { :p => author }) %></p>
                    <% end %>
                
            <% end %>
                
            </div>
        <div class="columns small-12 medium-7 large-6 large-order-1">
            <% if p.has_key?("desc") %>
                <article class="content-dynamic">
                <%= Kramdown::Document.new(p["desc"]).to_html %>
                <%= person_widget("travis") %>
                </article>
            <% end %>
        </div>
        
        
    </div>
</section>
<% if p.has_key?("bg_image") %>
    <section class="section-article container-image-fill" data-interchange="[<%= p.bg_image.url %>?fit=thumb&w=1800&h=200&fm=jpg&q=50, medium]">
<% else %>
    <section class="container-gray-5 container-image--fixed" data-interchange="[//images.contentful.com/189dvqdsjh46/3gflDVmPuoecamYsY6OOSI/90c46d15b8af71129e3612ac010c0574/city_blurry_bokeh_chuttersnap-179223.jpg?w=1200&q=50, large]">
<% end %>
    <% if p.has_key?("cta_ref") %>
        <div class="row align-center">
            <div class="columns small-12 medium-5 large-6 large-order-1">
                <%= partial("/partials/content/cta", :locals => { :p => p["cta_ref"] }) %>
            </div>
        </div>
    <% end %>
</section>
