---
title: "Compliant Innovation | Datica"
summary: "The Datica Platform makes your cloud workloads compliant and secure to the standards of HIPAA, HITRUST, GDPR, and GxP on AWS and Azure."
author: "Datica, Inc."
tags: "training, education, HIPAA, HL7, FHIR, interoperability, EHR, integration, resource"
date: "January 1, 2017"
share_image: "https://images.contentful.com/189dvqdsjh46/3Ll0a3gLi8wKG8A84mUokm/fabae03bd9e4da4e60173d4c2fe89a30/blog-share-default.png"
customCSS: "home"
layout: "basic"
# customJS: "/public/js/slick.js, /public/js/slick-config.js, /public/js/DrawSVGPlugin.js, /public/js/animation.js, /public/js/TweenMax.js"
priority: "1.0"
---
<div class="container-color--dark-alt">
    <%= partial "partials/snippets/header", :locals => { :style => "light" } %>
    <section class="section-article--small">
        <div class="row align-center">
            <div class="columns small-12 medium-10 large-8 text-center">
                <h1 class="headline-3">Compliant Innovation</h1>
                <p class="lead">Datica manages healthcare compliance and security on AWS and Azure</p>
                <p class="lead">The Datica Platform makes your cloud workloads compliant to the standards of HIPAA, HITRUST, GDPR, and GxP.</p>
                <%= 
                partial "partials/snippets/button", 
                    :locals => {
                        :label => "Explore the Datica Platform", 
                        :title => "Read more", 
                        :url => "/platform", 
                        # :rel => "external", 
                        :button_classes => "button button--primary", 
                        :icon => "icon-chevron-right", 
                        :icon_color => "white", 
                        :icon_align => "right"
                    }
                %>
            </div>
        </div><!-- 
        <div id="companies" class="row full-width collapse group">
            <div class="columns small-12">
                <img src="https://images.contentful.com/189dvqdsjh46/5ZLw6g8qTCQkOYqEU0CC8m/2612dfac1dfa712f497a3ce6addffb2d/home-logo-bubbles-2x.png" alt="Datica powers digital health at over 500 organizations">
            </div>
        </div> -->
    </section>
</div>
<%= partial "partials/section-promos/aws-mlh-video", 
    :locals => {
        :quote_id => "5fDbO1XJ1CAEWAEIoiO6mS",
        :container_color => "container-gray-11"
        #:background => "https://images.contentful.com/189dvqdsjh46/55EpUazd5CQSqC66CaWYqI/fd3aa1534d8d641ee8bd60d3592e98a3/aws-mlh-diagram-k-alpha.png"
    }
%>
<section class="section-article container-color--white">
    <div class="row align-center">
        <div class="columns small-12 large-10 text-center">
            <h3 class="headline-3"><strong>World-class companies</strong> trust Datica</h3>
            <div class="logo-cloud">
                <% data.views.home.customers.each do |logo| # trying this as data-interchange for perf %>
                    <img data-interchange="[/public/img/customer-logos/sm/<%= logo['file'] %>.png, small]" alt="<%= logo["name"] %>" class="logo-cloud--item logo-size--<%= logo['logoSize'] %>" />
                <% end %>
            </div>
        </div>
    </div>
<!-- </section> -->
<hr class="divider">
<!-- <section class="section-article"> -->
    <div class="row align-center text-center">
        <div class="columns small-12 large-10">
            <h2 class="headline-3"><strong>Healthcare's best compliance coverage</strong> <br>for teams large and small</h2>
            <div class="logo-cloud">
                <% data.views.home.badges.each do |logo| # trying this as data-interchange for perf %>
                    <img data-interchange="[<%= logo['fileUrl'] %>?w=300, small]" alt="<%= logo['name'] %>" class="logo-cloud--item logo-size--<%= logo['logoSize'] %>" />
                <% end %>
            </div>
            <%= 
                partial "partials/snippets/button", 
                    :locals => {
                        :label => "Platform Compliance Overview", 
                        :title => "Read more", 
                        :url => "/platform/compliance", 
                        # :rel => "external", 
                        :button_classes => "button hollow", 
                        :icon => "icon-chevron-right", 
                        :icon_color => "blue", 
                        :icon_align => "right"
                    }
                %>
        </div>
    </div>
</section>
<%
sorted_posts = data.site.blog.to_a.sort_by{ |id, post| post['pub_date'] }.reverse!
sorted_podcasts = data.site.podcast.to_a.sort_by{ |id, podcast| podcast['pub_date'] }.reverse!
sorted_academy = data.site.academy.to_a.sort_by{ |id, academy| academy['pub_date'] }.reverse!
sorted_reports = data.site.reports.to_a.sort_by{ |id, report| report['pub_date'] }.reverse!
%>
<section class="container-gray-10 section-article">
    <h3 class="headline-3 group text-center"><strong>Recently</strong> at Datica</h3>
    <div class="row row--card-grid align-center small-up-1 medium-up-3 large-up-3">
    <% sorted_posts.take(1).each do | id, blog_entry | %>
        <div class="column">
            <%= partial "partials/cards/featured-blog", :locals => { :post => blog_entry, :style => "light", :size => "small", :show_type => true } %>
        </div>
    <% end %>
    <% sorted_podcasts.take(1).each do | id, podcast_entry | %>
        <div class="column">
            <%= partial "partials/cards/featured-blog", :locals => { :post => podcast_entry, :style => "light", :size => "small", :show_type => true } %>
        </div>
    <% end %>
    <% sorted_reports.take(1).each do | id, report_entry | %>
        <div class="column">
            <div class="card container-gray-2">
                <div class="card-section">
                    <!-- <span class="card-header-subhead">Datica</span> -->
                    <% if report_entry.has_key?("subhead") %><div class="subheader-small color-white"><%= report_entry.subhead %></div><% end %>
                
                    <h3 class="headline-4">
                        <a class="link--white" href="/innovation/<%= report_entry.slug %>" title="Read report">
                            <%= report_entry.title %>
                        </a>
                    </h3>
                </div>
                <% if report_entry.has_key?("image_thumb") %>
                    <a class="text-center" href="/innovation/<%= report_entry.slug %>" title="Read report">
                        <img src="<%= report_entry.image_thumb.url %>?fit=thumb&w=500" width="250" alt="
                        report">
                    </a>
                <% end %>
            </div>
        </div>
    <% end %>
    </div>
</section>

<%#= partial "partials/section-promos/leadership-gallery" %>
<%#= partial "partials/section-promos/recent-items" %>
<%#= partial "partials/section-promos/dhsf-video", :locals => { :align => "right" } %>
<%#= partial "partials/section-promos/report-promo-latest" %>