<% 
if defined?(current_page.data.collectionName) # this is already a part of static pages/sections
    track_category = current_page.data.collectionName
else
    track_category = "nav"
end
%>

<header class="main-header main-header<% if defined?(style) && style == "light" %>--white<% end %>">
    <a href="/" class="logo" title="Datica Home"></a>
    <nav class="left">
        <div class="hide-for-large">
            <div class="group input-nav input-nav--white">
                <%= partial "partials/snippets/search-field" %>
            </div>
            <a href="/contact" class="expanded button button--light" data-track="true" data-track-id="contact-main-mobile">Contact us</a>
        </div>
        <% data.nav_primary.nav_main.each do |m| %>
            <%= current_link_to m.title, m.url, title: m.desc, class: "menu-item--simple", "data-track": "true", "data-track-category": track_category, "data-track-id": 'nav_' + m.title.parameterize %>
        <% end %>
    </nav>
    <nav class="right">
        <div class="a dropdown-container" id="resourcesDropdown">
            <span class="selector">Resources
                <%= inline_svg("small/icon-triangle-down", class: "dropdown-pip icon-inline") %>
            </span>
            <div class="dropdown dropdown-resources drop dropdown-list--block">
                <div class="container-color--white">
                    <ul class="no-bullet dropdown-group">
                        <% data.nav_primary.nav_resources_a.each do |m| %>
                            <li class="dropdown-group--item no-wrap">
                            <%= current_link_to m.title, m.url, title: m.desc, class: "dropdown-item--link" %>
                            </li>
                        <% end %>
                    </ul>
                    <hr class="hr">
                    <div class="list-title">Learn More:</div>
                    <ul class="no-bullet dropdown-group">
                        <% sorted_discover_posts = data.site.discover.to_a.sort_by{ |id, post| post['title'] } %>
                        <% sorted_discover_posts.each do | id, post | %>
                            <li class="dropdown-group--item">
                                <a class="dropdown-item--link" href="/discover/<%= post["slug"] %>" title="Discover <%= post["title"] %>"><%= post["title"] %></a>
                            </li>
                        <% end %>
                    </ul>
                    <hr class="hr">
                    <ul class="no-bullet dropdown-group">
                        <% data.nav_primary.nav_resources_b.each do |m| %>
                            <li class="dropdown-group--item no-wrap">
                            <%= current_link_to m.title, m.url, title: m.desc, class: "dropdown-item--link" %>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="a dropdown-container" id="companyDropdown">
            <span class="selector">Company
                <%= inline_svg("small/icon-triangle-down", class: "dropdown-pip icon-inline") %>
            </span>
            <div class="dropdown dropdown-company drop dropdown-list--block">
                <div class="container-color--white">
                    <ul class="no-bullet dropdown-group">
                        <% data.nav_primary.nav_company_a.each do |m| %>
                            <li class="dropdown-group--item no-wrap">
                            <%= current_link_to m.title, m.url, title: m.desc, class: "dropdown-item--link" %>
                            </li>
                        <% end %>
                    </ul>
                    <hr class="hr">
                    <ul class="no-bullet dropdown-group">
                        <% data.nav_primary.nav_company_b.each do |m| %>
                            <li class="dropdown-group--item no-wrap">
                            <%= current_link_to m.title, m.url, title: m.desc, class: "dropdown-item--link" %>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="a dropdown-container" id="customerDropdown">
            <span class="selector">Help
                    <%= inline_svg("small/icon-triangle-down", class: "dropdown-pip icon-inline") %>

            </span>
            <div class="dropdown dropdown-customer drop dropdown-list--block">
                <div class="container-color--white">
                    <ul class="no-bullet dropdown-group">
                        <% data.nav_primary.nav_customers.each do |m| %>
                            <li class="dropdown-group--item no-wrap">
                            <%= current_link_to m.title, m.url, title: m.desc, class: "dropdown-item--link" %>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <a href="https://product.datica.com" class="menu-item--simple" target="_blank">Sign in</a>
        <a href="/contact" id="topNavCTA" data-track="true" data-track-id="contact-main" class="button <% if defined?(style) && style == "light" %> button hollow-inverted<% else %> primary<% end %>">Contact us</a>
    </nav>
    <div class="mobile-menu">
        <!-- <span class="icon-label">menu</span> -->
        <%= inline_svg("small/icon-menu", class: "icon-size--medium svg-color--white") %>
        <!-- <i class="fa fa-bars"></i> -->
    </div>
</header>
