<meta content="text/html; charset=utf-8" name="Content-Type" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title><%= current_page.data.title %></title>
<meta name="description" content="<%= current_page.data.summary %>">
<% if current_page.data.has_key?("hide_from_sitemap") %>
    <meta name="robots" content="noindex,nofollow,noodp">
    <meta name="googlebot" content="noindex,nofollow">
<% end %>
<%# GTM tags need to be near top %>
<% if build? %><%= partial "partials/scripts/google-tm-head" %><% end %>
<meta name="topic" content="<%= current_page.data.title %>">
<meta name="classification" content="website">
<meta name="url" content="<%= site_url %>">
<%# <meta name="keywords" content="heathcare, "> %><%#= current_page.data.tags %>
<meta name="coverage" content="Worldwide">
<meta name="distribution" content="Global">
<meta name="author" content="<%= current_page.data.author %>">
<meta property="article:published_time" content="<%= current_page.data.date %>">
<meta property="og:description" content="<%= current_page.data.summary %>">
<meta property="og:title" content="<%= current_page.data.title %>">
<meta itemprop="og:headline" content="<%= current_page.data.title %>" />
<% if current_page.data.has_key?("ogType")%>
    <meta property="og:type" content="<%= current_page.data.ogType %>">
<% else %>
    <meta property="og:type" content="website">
<% end %>
<meta property="og:url" content="<%= site_url + current_page.url %>">
<meta property="og:locale" content="en_US">
<meta property="twitter:site" content="<%= twitter_handle %>">
<meta property="twitter:creator" content="<%= twitter_handle %>">
<meta property="twitter:title" content="<%= current_page.data.title %>">
<meta property="twitter:description" content="<%= current_page.data.summary %>">
<link rel="canonical" href="<%= site_url + current_page.url %>">
<% if current_page.data.has_key?("share_image") %>
    <meta property="og:image" content="<%= current_page.data.share_image %>">
    <meta property="twitter:card" content="<%= current_page.data.share_image %>">
    <meta property="twitter:image" content="<%= current_page.data.share_image %>">
<% elsif current_page.data.has_key?("featured_image") %>
    <meta property="og:image" content="<%= current_page.data.post_featured_image %>">
	<meta property="twitter:card" content="<%= current_page.data.post_featured_image %>">
    <meta property="twitter:image" content="<%= current_page.data.post_featured_image %>">
<% else %>
    <meta property="og:image" content="<%= image_share_default %>">
	<meta property="twitter:card" content="summary">
    <meta property="twitter:image" content="<%= image_share_default %>">
<% end %>
<% if current_page.data.has_key?("feed_url") %>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="<%= current_page.data.feed_url %>">
<% end %>
<%# use asset_preload to preload relevant assets %>
<% if current_page.data.has_key?("asset_preload") %>
    <%= current_page.data.asset_preload %>
<% end %>
